# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config BOARD_GERALT_SCP_ZEPHYR
	bool "Google Geralt SCP ZEPHYR Reference Board"
	select SOC_MEDIATEK_MT8188_SCP
	help
	  Build mt8188 SCP for zephyr OS.

source "Kconfig.zephyr"
