/* Copyright 2023 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include "../native_posix.overlay"
#include <npcx_emul.dts>
#include "../../../../program/rex/screebo/cbi.dtsi"

#include <dt-bindings/gpio_defines.h>
#include <dt-bindings/usb_pd_tcpm.h>

/ {
	/* Unused Stub */
	named-i2c-ports {
		compatible = "named-i2c-ports";

		named_i2c0: i2c0 {
			i2c-port = <&i2c0>;
			enum-names = "I2C_PORT_USB_MUX",
						 "I2C_PORT_BATTERY";
		};
	};

	usbc {
		#address-cells = <1>;
		#size-cells = <0>;
		port0@0 {
			compatible = "named-usbc-port";
			reg = <0>;

			bc12 = <&pi3usb9201_emul0>;
			tcpc = <&tcpci_emul0>;
			ppc = <&ppc0_emul>;
			chg = <&charger_emul>;
			usb-mux-chain-0 {
				compatible = "cros-ec,usb-mux-chain";
				usb-muxes = <&usb_c0_hb_retimer
					     &virtual_mux_c0>;
			};
		};
		port0-muxes {
			virtual_mux_c0: virtual-mux-c0 {
				compatible = "cros-ec,usbc-mux-virtual";
			};
		};

		port1@1 {
			compatible = "named-usbc-port";
			reg = <1>;

			bc12 = <&pi3usb9201_emul1>;
			tcpc = <&tcpci_emul1>;
			ppc = <&ppc0_emul>;
			usb-mux-chain-0 {
				compatible = "cros-ec,usb-mux-chain";
				usb-muxes = <&usb_c1_hb_retimer
					     &virtual_mux_c1>;
			};
		};
		port1-muxes {
			virtual_mux_c1: virtual-mux-c1 {
				compatible = "cros-ec,usbc-mux-virtual";
			};
		};
	};

	batteries {
		default_battery: lgc_ac17a8m {
			compatible = "lgc,ac17a8m", "battery-smart";
			/**
			 * this has to be strictly lower than the desired
			 * voltage in smart battery emulator (5000mV).
			 */
			voltage_min = <4000>;
		};
	};

	named-gpios {
		compatible = "named-gpios";

		gpio_usb_c0_ppc_int_odl: usb_c0_ppc_int_odl {
			gpios = <&gpio1 0 GPIO_INPUT>;
			enum-name = "GPIO_USB_C0_PPC_INT_ODL";
		};
		gpio_usb_c1_ppc_int_odl: usb_c1_ppc_int_odl {
			gpios = <&gpio1 1 GPIO_INPUT>;
			enum-name = "GPIO_USB_C1_PPC_INT_ODL";
		};
		gpio_usb_c1_rt_3p3_sx_en: usb_c1_rt_3p3_sx_en {
			gpios = <&gpio1 2 0>;
		};
		ioex_usb_c1_rt_rst_ls_l: usb_c1_rt_rst_ls_l {
			gpios = <&gpio1 3 0>;
		};
		ioex_usb_c1_frs_en: usb_c1_frs_en {
			gpios = <&gpio1 4 0>;
		};
		gpio_usb_c0_rt_3p3_sx_en: usb_c0_rt_3p3_sx_en {
			gpios = <&gpio1 5 GPIO_ODR_LOW>;
		};
		gpio_usb_c0_rt_int_odl: usb_c0_rt_int_odl {
			gpios = <&gpio1 6 GPIO_INPUT>;
		};
		ioex_usb_c0_rt_rst_ls_l: usb_c0_rt_rst_ls_l {
			gpios = <&gpio1 7 0>;
		};
		gpio_ec_pwr_btn_odl: ec_pwr_btn_odl {
			gpios = <&gpio3 0 GPIO_INPUT>;
			enum-name = "GPIO_POWER_BUTTON_L";
		};
		gpio_usb_c0_bc12_int_odl: usb_c0_bc12_int_odl {
			gpios = <&gpio3 1 GPIO_INPUT>;
			enum-name = "GPIO_USB_C0_BC12_INT_ODL";
		};
		gpio_usb_c1_bc12_int_odl: usb_c1_bc12_int_odl {
			gpios = <&gpio3 2 GPIO_INPUT>;
			enum-name = "GPIO_USB_C1_BC12_INT_ODL";
		};
	};
	gpio-interrupts {
		compatible = "cros-ec,gpio-interrupts";

		int_usb_c0_bc12: usb_c0_bc12 {
			irq-pin = <&gpio_usb_c0_bc12_int_odl>;
			flags = <GPIO_INT_EDGE_FALLING>;
			handler = "bc12_interrupt";
		};
		int_usb_c1_bc12: usb_c1_bc12 {
			irq-pin = <&gpio_usb_c1_bc12_int_odl>;
			flags = <GPIO_INT_EDGE_FALLING>;
			handler = "bc12_interrupt";
		};
		int_usb_c0_ppc: usb_c0_ppc {
			irq-pin = <&gpio_usb_c0_ppc_int_odl>;
			flags = <GPIO_INT_EDGE_FALLING>;
			handler = "ppc_interrupt";
		};
		int_usb_c1_ppc: usb_c1_ppc {
			irq-pin = <&gpio_usb_c1_ppc_int_odl>;
			flags = <GPIO_INT_EDGE_FALLING>;
			handler = "ppc_interrupt";
		};
	};

	aliases {
		ps-usb-c1-rt-rst-odl = &gpio_usb_c1_rt_rst_r_odl;
		nct-usb-c1-rst-odl = &gpio_usb_c1_rst_odl;
		hbr-usb-c1-rt-int-odl = &gpio_usb_c1_rt_int_odl;
		hbr-usb-c1-rt-pwr-en = &gpio_usb_c1_rt_3p3_sx_en;
		hbr-usb-c1-rt-rst = &ioex_usb_c1_rt_rst_ls_l;
		syv-usb-c1-frs-en = &ioex_usb_c1_frs_en;
	};
};

&i2c_ctrl0 {
	status = "okay";

	battery: sb@b {
		compatible = "zephyr,smart-battery-emul";
		status = "okay";
		reg = <0xb>;
		cycle-count = <99>;
		version = "BATTERY_SPEC_VER_1_1_WITH_PEC";
		/* Real battery voltages are multiples of 4.4V. */
		desired-charg-volt = <5000>;
		desired-charg-cur = <1000>;
		mf-name = "LGC";
		dev-name = "AC17A8M";
	};

	charger_emul: isl9241@9 {
		compatible = "intersil,isl9241";
		status = "okay";
		reg = <0x9>;
	};

	// nct38xx_emul0: nct38xx_emul@e0 {
	// 	compatible = "nuvoton,nct38xx";
	// 	reg = <0xe0>;
	// 	tcpc-flags = <(
	// 		TCPC_FLAGS_VBUS_MONITOR |
	// 		TCPC_FLAGS_ALERT_OD |
	// 		TCPC_FLAGS_CONTROL_VCONN |
	// 		TCPC_FLAGS_CONTROL_FRS)>;
	// };
	tcpci_emul0: tcpci_emul@83 {
		compatible = "cros,tcpci-generic-emul";
		status = "okay";
		reg = <0x83>;
	};
	// nct38xx_emul1: nct38xx_emul@e1 {
	// 	compatible = "nuvoton,nct38xx";
	// 	reg = <0xe1>;
	// 	tcpc-flags = <(
	// 		TCPC_FLAGS_VBUS_MONITOR |
	// 		TCPC_FLAGS_ALERT_OD |
	// 		TCPC_FLAGS_CONTROL_VCONN |
	// 		TCPC_FLAGS_CONTROL_FRS)>;
	// };
	tcpci_emul1: tcpci_emul@82 {
		compatible = "cros,tcpci-generic-emul";
		status = "okay";
		reg = <0x82>;
	};


	ppc0_emul: syv682x@42 {
		compatible = "silergy,syv682x", "cros,i2c-mock";
		status = "okay";
		reg = <0x42>;
		frs_en_gpio = <&ioex_usb_c1_frs_en>;
	};

	ppc1_emul: syv682x@43 {
		compatible = "silergy,syv682x", "cros,i2c-mock";
		status = "okay";
		reg = <0x43>;
		frs_en_gpio = <&ioex_usb_c1_frs_en>;
	};

	// ppc_nx20p348x_alt: nx20p348x@77 {
	// 	compatible = "nxp,nx20p348x";
	// 	status = "okay";
	// 	reg = <0x77>;
	// 	irq-gpios = <&gpio1 1 GPIO_INPUT>;
	// 	is-alt;
	// };

	pi3usb9201_emul0: pi3usb9201@5d {
		compatible = "pericom,pi3usb9201";
		status = "okay";
		reg = <0x5d>;
		irq = <&int_usb_c0_bc12>;
	};

	pi3usb9201_emul1: pi3usb9201@5e {
		compatible = "pericom,pi3usb9201";
		status = "okay";
		reg = <0x5e>;
		irq = <&int_usb_c1_bc12>;
	};

	usb_c0_hb_retimer: jhl9040r-c0@56 {
		compatible = "intel,jhl8040r";
		reg = <0x56>;
		ls-en-pin = <&gpio_usb_c0_rt_3p3_sx_en>;
		int-pin = <&gpio_usb_c0_rt_int_odl>;
		reset-pin = <&ioex_usb_c0_rt_rst_ls_l>;
	};

	usb_c1_hb_retimer: jhl9040r-c1@54 {
		compatible = "intel,jhl8040r";
		reg = <0x54>;
		ls-en-pin = <&gpio_usb_c0_rt_3p3_sx_en>;
		int-pin = <&gpio_usb_c0_rt_int_odl>;
		reset-pin = <&ioex_usb_c0_rt_rst_ls_l>;
	};
};