/* Copyright 2022 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/delete-node/ &int_base_imu;
/delete-node/ &int_tablet_mode;
