/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	named-i2c-ports {
		compatible = "named-i2c-ports";

		i2c_charger: charger {
			i2c-port = <&charger_i2c>;
			enum-names = "I2C_PORT_CHARGER",
				"I2C_PORT_BATTERY",
				"I2C_PORT_KB_DISCRETE",
				"I2C_PORT_PORT80",
				"I2C_PORT_RAA2250";
		};
		ec_pd_power: typec-aic1-power {
			i2c-port = <&pd_pow_i2c>;
			enum-names = "I2C_PORT_TYPEC_AIC_1";
		};
	};
};

/* charger */
&charger_i2c {
	label = "I2C_CHARGER";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	status = "okay";
};

/* typec-aic1-power */
&pd_pow_i2c {
	label = "I2C_PD_POWER";
	clock-frequency = <I2C_BITRATE_FAST>;
	status = "okay";
};
