# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config TEST_SUITE_INTEL_MOD_AIC
	bool "Enable Intel modular aic tests"

source "Kconfig.zephyr"
