/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

 / {
	named-gpios {
		compatible = "named-gpios";

		gpio_ec_kso_02_inv: ec_kso_02_inv {
			gpios = <&gpioksol 2 GPIO_OUTPUT_HIGH>;
		};

		/* The legacy system code requires GPIO_ENTERING_RW symbol */
		gpio_ec_entering_rw: ec_entering_rw {
			enum-name = "GPIO_ENTERING_RW";
		};
	};

	unused-pins {
		compatible = "unused-gpios";

		unused-gpios =
			/* SPI_EC_DI_BIOS_DO */
			<&gpiog 5 0>,
			/* SPI_EC_CS_BIOS_L */
			<&gpiog 3 0>,
			/* SPI_EC_CLK */
			<&gpiog 7 0>,
			/* SPI_EC_DO_BIOS_DI */
			<&gpiog 4 0>,
			/* EC_EN_IMVP91_NC */
			<&gpioh 6 0>,
			/* EC_ESPI_ALERT_L_NC */
			<&gpiom 6 0>,
			/* PCBEEP_EC */
			<&gpioa 7 0>;
		};
};

/ {


};

/* The eSPI shim requires this GPIO nodelabel */
gpio_ec_pch_wake_odl: &gpio_sen_mode2_ec_pch_int_odl{
};

&gpio_amp_mute_l {
	gpios = <&gpiog 6 (GPIO_OUTPUT | GPIO_ACTIVE_LOW)>;
};

/* Default PROCHOT high so it's not asserted
 * TODO: b/214509787 - zephyr: subsys/ap_pwrseq: support chipset interface APIs
 */
&gpio_ec_prochot_odl {
	gpios = <&gpioi 0 GPIO_ODR_HIGH>;
};

&gpio_ec_wp_odl {
	gpios = <&gpioj 3 (GPIO_INPUT | GPIO_ACTIVE_LOW) >;
};

&gpio_acok_od {
	enum-name = "GPIO_AC_PRESENT";
};

/* These GPIOS are initialized by the PDC driver */
&gpio_i2c_ec_pd_int_odl {
	no-auto-init;
};
&gpio_ec_pmc_pd_int_odl {
	no-auto-init;
};
