/* Copyright 2022 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	named-gpios {
		compatible = "named-gpios";

		ec_flash_wp_odl {
			gpios = <&gpio9 4 (GPIO_INPUT | GPIO_PULL_UP)>;
			enum-name = "GPIO_WP_L";
		};
		gpio_bc_acok: bc_acok {
			gpios = <&gpioc 6 GPIO_INPUT>;
			enum-name = "GPIO_AC_PRESENT";
		};
		gpio_pwr_btn_odl: pwr_btn_odl {
			gpios = <&gpio0 0 GPIO_INPUT>;
			enum-name = "GPIO_POWER_BUTTON_L";
		};
		gpio_smc_lid: smc_lid {
			gpios = <&gpio0 1 GPIO_INPUT>;
			enum-name = "GPIO_LID_OPEN";
		};
		ec_entering_rw {
			gpios = <&gpiod 4 GPIO_OUT_LOW>;
			enum-name = "GPIO_ENTERING_RW";
		};
		ec_h1_packet_mode {
                        gpios = <&gpio2 2 GPIO_OUT_LOW>;
                        enum-name = "GPIO_PACKET_MODE_EN";
                };
		pm_rsmrst_n {
			gpios = <&gpiod 3 GPIO_INPUT>;
			enum-name = "GPIO_PCH_RSMRST_L";
		};
		rsmrst_pwrgd {
			gpios = <&gpio3 7 GPIO_OUT_LOW>;
			enum-name = "GPIO_PG_EC_RSMRST_ODL";
		};
		smc_wake_sci_n_mecc {
			gpios = <&gpioa 4 GPIO_OUT_LOW>;
			enum-name = "GPIO_EC_PCH_WAKE_ODL";
		};
	};

	hibernate-wake-pins {
		compatible = "cros-ec,hibernate-wake-pins";
		wakeup-pins = <
			&gpio_bc_acok
			&gpio_pwr_btn_odl
			&gpio_smc_lid
		>;
	};
};
