# Copyright 2021 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Zephyr Kernel Configuration
CONFIG_SOC_SERIES_RISCV32_IT8XXX2=y
CONFIG_SOC_IT8XXX2=y

# Platform Configuration
CONFIG_BOARD_IT8XXX2=y

# GPIO Controller
CONFIG_GPIO=y
CONFIG_GPIO_ITE_IT8XXX2=y

# ADC Driver
CONFIG_ADC_ITE_IT8XXX2=y

# Clock configuration
CONFIG_CLOCK_CONTROL=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=32768
CONFIG_SYS_CLOCK_TICKS_PER_SEC=32768

# Flash
CONFIG_PLATFORM_EC_FLASH_CROS=y
CONFIG_SOC_FLASH_ITE_IT8XXX2=y

# I2C
CONFIG_I2C_ITE_IT8XXX2=y
CONFIG_PLATFORM_EC_I2C=y

# Pinmux Driver
CONFIG_PINMUX=y
CONFIG_PINMUX_ITE_IT8XXX2=y

# PWM
CONFIG_PWM_ITE_IT8XXX2=y

# Serial Host Interface (SHI) device.
CONFIG_CROS_SHI_IT8XXX2=y

# Timer configuration
CONFIG_ITE_IT8XXX2_TIMER=y

# BBRAM
CONFIG_BBRAM=y
CONFIG_BBRAM_IT8XXX2=y
