config CHIP_PANIC_BACKUP
	bool "Panic backup"
	default n
	help
	  Certain platforms(e.g. eve, poppy) cannot retain panic info in data ram since
	  VCC is powered down on EC reset. On such platforms, panic data needs to be
	  saved/restored to persistent storage by using chip specific
	  implementations. This option can be enabled by those platforms that have and
	  wish to use chip-implemented panic backup/restore functions.

# USB section 

config USB_BOS
	bool "USB Binary device Object Store support"
	default n

config USB_BCD_DEV___
	bool "Set USB Device version of product"
	default n

if USB_BCD_DEV___
config USB_BCD_DEV
	prompt "USB Device version of product"
	hex
endif

config USB
	bool "Compile chip support for the USB device controller"
	default n

config USB_ISOCHRONOUS
	bool "Support USB isochronous handler"
	default n

config USB_BLOB
	bool "Support USB blob handler"
	default n

config USB_CHARGER
	bool "Common USB / BC1.2 charger detection routines"
	default n
