/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

&i2c_4 {
	label = "I2C_THERMAL";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c_3 {
	label = "I2C_PORT_PD";
	clock-frequency = <I2C_BITRATE_FAST>;

	pdc_power_p0: rts54-pdc@66 {
		compatible = "realtek,rts54-pdc";
		reg = <0x66>;
		irq-gpios = <&gpiob 11 GPIO_ACTIVE_LOW>;
		zephyr,deferred-init;
		ccd;
	};
	pdc_power_p1: rts54-pdc@67 {
		compatible = "realtek,rts54-pdc";
		reg = <0x67>;
		irq-gpios = <&gpiob 11 GPIO_ACTIVE_LOW>;
		no-fw-update;
		zephyr,deferred-init;
	};

	pdc_power_p0_ti: tps6699-pdc@20 {
		compatible = "ti,tps6699-pdc";
		reg = <0x20>;
		irq-gpios = <&gpiob 11 GPIO_ACTIVE_LOW>;
		zephyr,deferred-init;
	};
	pdc_power_p1_ti: tps6699-pdc@24 {
		compatible = "ti,tps6699-pdc";
		reg = <0x24>;
		irq-gpios = <&gpiob 11 GPIO_ACTIVE_LOW>;
		no-fw-update;
		zephyr,deferred-init;
		ccd;
	};
};

&i2c_1 {
	label = "I2C_ISH";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c_0 {
	label = "I2C_BATTERY";
	label = "I2C_PORT_CHARGER";

	clock-frequency = <I2C_BITRATE_STANDARD>;
	charger: bq25710@9 {
		compatible = "ti,bq25710";
		status = "okay";
		reg = <0x9>;
	};

	alt_charger: isl9538@9 {
		compatible = "intersil,isl923x";
		status = "okay";
		reg = <0x9>;
	};
};

/* Tachometer for fan speed measurement */
&tach0 {
	status = "okay";
	pinctrl-0 = <&tacho0_gpio052>;
	pinctrl-names = "default";
	pulses-per-round = <2>;
};

/* host interface */
&espi0 {
	status = "okay";
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
};
 
&uart0_wrapper {
	status = "okay";
	pinctrl-0 = <&uart_rx_gpio113 &uart_tx_gpio114>;
	pinctrl-names = "default";
};
