*.Makefile
*.mk
*.ncb
*.ninja
*.props
*.pyc
*.rules
*.scons
*.sdf
*.sln
*.suo
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*~
.*.sw?
.DS_Store
.cproject
.gdb_history
.gdbinit
.metadata
.project
tags
Thumbs.db
v8.log
/Makefile
/_out
/breakpad/src/
/board
/build/Debug
/build/Purify
/build/Release
/build/util/support
# The Chrome OS build creates a /c symlink due to http://crbug.com/54866.
/c
/ceee/internal/
/data
/googleurl
/gpu/gles2_conform_test
/gyp-mac-tool
/native_client
/net/Debug
/net/Release
/net/testserver.log
/out
/out_*
/rlz
/sdch/open-vcdiff
/seccompsandbox
/testing/gmock
/testing/gtest
/testserver.log
/vendor
/x86-generic_out/
/xcodebuild
