[host]
    git = "chromium.googlesource.com"
    gerrit = "chromium-review.googlesource.com"
[builder "luci.chromeos.cq/firmware-ec-cq"]
    base = "luci.chromeos.postsubmit/firmware-ec-postsubmit"
    baseRepo = "chromeos/manifest-internal"
    baseGitHost = "chrome-internal"
[builder "luci.chromeos.cq/firmware-zephyr-cq"]
    base = "luci.chromeos.postsubmit/firmware-zephyr-postsubmit"
    baseRepo = "chromeos/manifest-internal"
    baseGitHost = "chrome-internal"