
mainmenu "EC Configuration"

choice

	prompt "Board name"

source "board/*/Kconfig.name"

endchoice

source "board/*/Kconfig"

menu "Chip setup"
source "chip/Kconfig"
source "chip/*/Kconfig"
endmenu

menu "Devices setup"
source "driver/Kconfig"
endmenu

source "common/Kconfig"
source "power/Kconfig"
source "util/Kconfig"
