[access]
	inheritFrom = chromiumos
[submit]
	action = cherry pick
	mergeContent = true
[project]
	description = Chromium OS Embedded Controller software\n\
\n\
http://dev.chromium.org/chromium-os/ec-development
[access "refs/*"]
	owner = group Administrators
	owner = group chromiumos-ec-owners
[access "refs/tags/*"]
	pushTag = group Branch Masters
	pushTag = group chromiumos-ec-owners
