[access]
	inheritFrom = chromiumos-nosticky
[submit]
	action = inherit
	mergeContent = true
[project]
	description = Chromium OS Embedded Controller software\n\nhttp://dev.chromium.org/chromium-os/ec-development
[access "refs/*"]
	owner = group Administrators
	owner = group chromiumos-ec-owners
[access "refs/tags/*"]
	createTag = group Branch Masters
	createTag = group chromiumos-ec-owners
	createTag = group cr53-owners
	delete = group chromiumos-ec-owners
[access "refs/heads/firmware-fizz-10139.B"]
	forgeAuthor = group chromiumos-ec-owners
	forgeCommitter = group chromiumos-ec-owners
	forgeServerAsCommitter = group chromiumos-ec-owners
	push = group chromiumos-ec-owners
	submit = group chromiumos-ec-owners
[access "refs/heads/firmware-nami-10775.B"]
	forgeAuthor = group chromiumos-ec-owners
	forgeCommitter = group chromiumos-ec-owners
	forgeServerAsCommitter = group chromiumos-ec-owners
	push = group chromiumos-ec-owners
	submit = group chromiumos-ec-owners
[access "^refs/heads/firmware-cr50.*"]
	forgeAuthor = group chromiumos-ec-owners
	forgeCommitter = group chromiumos-ec-owners
	forgeServerAsCommitter = group chromiumos-ec-owners
	submit = group chromiumos-ec-owners
	push = +force group chromiumos-ec-owners
[access "refs/for/*"]
	create = group cr50-guc-owners
	push = group cr50-guc-owners
[access "refs/for/refs/heads/firmware-fpmcu-dartmonkey-release"]
	pushMerge = group chromeos-committer-approvers
[access "refs/for/refs/heads/firmware-fpmcu-bloonchipper-release"]
	pushMerge = group chromeos-committer-approvers
[access "^refs/for/refs/heads/firmware.*"]
	pushMerge = group chromeos-committer-approvers
[access "refs/heads/firmware-dedede-13606.B-master"]
	pushMerge = group chromeos-committer-approvers
[access "refs/for/refs/heads/master"]
	exclusiveGroupPermissions = push
[access "refs/heads/master"]
	exclusiveGroupPermissions = push
