# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config CROS_IMVP
	bool
	depends on DT_HAS_RICHTEK_RT3645_ENABLED
	default y
	help
	  Enable support for richtek IMVP.

if CROS_IMVP

config CROS_IMVP_CONSOLE
	bool "Enable IMVP driver"
	help
	  Enable support for accessing IMVP using console commands.
endif
