# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config LED_STRIP_DEMO
	bool "LED strip demo"
	select LED_STRIP
	select TEST_RANDOM_GENERATOR
	help
	  Demo some effects of LED strip
