/* Copyright 2023 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include <board-overlays/native_posix.dts>
#include <cros/binman.dtsi>
#include <cros/thermistor/thermistor.dtsi>
#include <dt-bindings/gpio_defines.h>
#include <dt-bindings/wake_mask_event_defines.h>
#include <freq.h>

/ {
	chosen {
		cros-ec,espi = &espi0;
		cros-ec,flash = &flash0;
		cros-ec,flash-controller = &cros_flash;
		cros,rtc = &cros_rtc;
		zephyr,shell-uart = &test_uart;
	};

	aliases {
		gpio-wp = &gpio_wp_l;
	};

	ec-console {
		compatible = "ec-console";
		disabled = "events", "lpc", "hostcmd";
	};

	/*
	 * Keep these GPIOs in pin order.
	 * If you need to add one, make sure you increase
	 * ngpios in the gpio0 node further down.
	 */
	named-gpios {
		compatible = "named-gpios";

		gpio_acok_od: acok_od {
			gpios = <&gpio0 0 GPIO_INPUT>;
			enum-name = "GPIO_AC_PRESENT";
		};

		gpio_wp_l: wp_l {
			gpios = <&gpio0 1 (GPIO_INPUT | GPIO_OUTPUT |
					   GPIO_ACTIVE_LOW)>;
		};
		gpio_ec_pch_wake_odl: ec_pch_wake_odl {
			gpios = <&gpio0 2 GPIO_OUTPUT_HIGH>;
		};
		/* Setup USB C1 pin as output to check their state in test */
		usb_c0_tcpc_rst_l: usb_c0_tcpc_rst_l {
			gpios = <&gpio0 3 (GPIO_OUTPUT_HIGH | GPIO_INPUT | GPIO_ACTIVE_LOW)>;
		};
		usb_c1_tcpc_rst_l: usb_c1_tcpc_rst_l {
			gpios = <&gpio0 4 (GPIO_OUTPUT_HIGH | GPIO_INPUT | GPIO_ACTIVE_LOW)>;
		};
		gpio_switchcap_pg_int_l: switchcap_pg_int_l {
			gpios = <&gpio0 5 (GPIO_OUTPUT | GPIO_INPUT)>;
		};
		gpio_ap_rst_l: ap_rst_l {
			gpios = <&gpio0 6 GPIO_INPUT>;
			enum-name = "GPIO_AP_RST_L";
		};
		gpio_ps_hold: ps_hold {
			gpios = <&gpio0 7 (GPIO_INPUT | GPIO_PULL_DOWN)>;
			enum-name = "GPIO_PS_HOLD";
		};
		gpio_mb_power_good: mb_power_good {
			gpios = <&gpio0 8 (GPIO_OUTPUT | GPIO_INPUT |
				GPIO_PULL_DOWN)>;
			enum-name = "GPIO_POWER_GOOD";
		};
		gpio_ap_suspend: ap_suspend {
			gpios = <&gpio0 9 GPIO_INPUT>;
			enum-name = "GPIO_AP_SUSPEND";
		};
		gpio_pmic_kpd_pwr_odl: pmic_kpd_pwr_odl {
			gpios = <&gpio0 10 GPIO_OUTPUT_HIGH>;
			enum-name = "GPIO_PMIC_KPD_PWR_ODL";
		};
		gpio_pmic_resin_l: pmic_resin_l {
			gpios = <&gpio0 11 GPIO_OUTPUT_HIGH>;
			enum-name = "GPIO_PMIC_RESIN_L";
		};
		gpio_warm_reset_l: warm_reset_l {
			gpios = <&gpio0 12 GPIO_INPUT>;
			enum-name = "GPIO_WARM_RESET_L";
		};
		gpio_lid_open_ec: lid_open_ec {
			/* GPIO_PULL_UP will cause this start asserted. */
			gpios = <&gpio0 13 (GPIO_INPUT | GPIO_PULL_UP)>;
			enum-name = "GPIO_LID_OPEN";
		};
		gpio_switchcap_on: switchcap_on {
			gpios = <&gpio0 14 (GPIO_INPUT | GPIO_OUTPUT_LOW)>;
		};
		gpio_ec_pwr_btn_odl: ec_pwr_btn_odl {
			/* GPIO_PULL_UP will cause this start asserted,
			 * i.e. not pressed.
			 */
			gpios = <&gpio0 15 (GPIO_ACTIVE_LOW | GPIO_INPUT | GPIO_PULL_UP)>;
			enum-name = "GPIO_POWER_BUTTON_L";
		};
		gpio_src_vph_pwr_pg: src_vph_pwr_pg {
			gpios = <&gpio0 16 (GPIO_INPUT | GPIO_OUTPUT |
				GPIO_PULL_DOWN)>;
		};
		ec_batt_pres_odl {
			gpios = <&gpio0 17 GPIO_INPUT>;
			enum-name = "GPIO_BATT_PRES_ODL";
		};
		gpio_ap_ec_int_l: ap_ec_int_l {
			gpios = <&gpio0 18 GPIO_OUTPUT_HIGH>;
			enum-name = "GPIO_EC_INT_L";
		};
	};

	gpio-interrupts {
		compatible = "cros-ec,gpio-interrupts";

		int_ac_present: ac_present {
			irq-pin = <&gpio_acok_od>;
			flags = <GPIO_INT_EDGE_BOTH>;
			handler = "extpower_interrupt";
		};
		int_switchcap_pg: switchcap_pg {
			irq-pin = <&gpio_switchcap_pg_int_l>;
			flags = <GPIO_INT_EDGE_FALLING>;
			handler = "ln9310_interrupt";
		};
		int_mb_power_good: mb_power_good {
			irq-pin = <&gpio_mb_power_good>;
			flags = <GPIO_INT_EDGE_BOTH>;
			handler = "power_signal_interrupt";
		};
	};

	named-i2c-ports {
		compatible = "named-i2c-ports";

		named_i2c0: i2c0 {
			i2c-port = <&i2c0>;
			enum-names = "I2C_PORT_BATTERY",
				"I2C_PORT_POWER",
				"I2C_PORT_VIRTUAL_BATTERY";
		};
		named_i2c2: i2c2 {
			i2c-port = <&i2c2>;
			dynamic-speed;
			enum-names = "I2C_PORT_USB_C0";
		};
		named_i2c3: i2c3 {
			i2c-port = <&i2c3>;
			dynamic-speed;
			enum-names = "I2C_PORT_USB_C1";
		};
	};

	batteries {
		default_battery: lgc_ac17a8m {
			compatible = "lgc,ac17a8m", "battery-smart";
		};
		ap16l5j {
			compatible = "panasonic,ap16l5j", "battery-smart";
		};
		ap16l8j {
			compatible = "lgc,ap16l8j", "battery-smart";
		};
	};

	/*
	 * Add extra i2c buses to test the I2C passthrough: 1 for sensor and
	 * 2 dedicated for TCPC.
	 */
	i2c2: i2c@500 {
		status = "okay";
		compatible = "zephyr,i2c-emul-controller";
		clock-frequency = <I2C_BITRATE_STANDARD>;
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x500 4>;
		isl9241_emul: isl9241@9 {
			compatible = "intersil,isl9241";
			status = "okay";
			reg = <0x9>;
		};
	};

	i2c3: i2c@600 {
		status = "okay";
		compatible = "zephyr,i2c-emul-controller";
		clock-frequency = <I2C_BITRATE_STANDARD>;
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x600 4>;
		status = "okay";
		clock-frequency = <I2C_BITRATE_FAST>;

		pd_port0: ccg@50 {
			compatible = "intel,pd-altmode";
			reg = <0x50>;
			irq-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
		};
		pd_port1: ccg@51 {
			compatible = "intel,pd-altmode";
			reg = <0x51>;
			irq-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
			irq-shared;
		};
	};

	usbc {
		#address-cells = <1>;
		#size-cells = <0>;

		port0@0 {
			compatible = "named-usbc-port";
			reg = <0>;
			chg = <&isl9241_emul>;
			alt-mode = <&pd_port0>;
			usb-mux-chain-0 {
				compatible = "cros-ec,usb-mux-chain";
				usb-muxes = <&virtual_mux_0>;
			};
		};
		port0-muxes {
			virtual_mux_0: virtual-mux-0 {
				compatible = "cros-ec,usbc-mux-virtual";
			};
		};
		port1@1 {
			compatible = "named-usbc-port";
			reg = <1>;
			alt-mode = <&pd_port1>;
			usb-mux-chain-1 {
				compatible = "cros-ec,usb-mux-chain";
				usb-muxes = <&virtual_mux_1>;
			};
		};
		port1-muxes {
			virtual_mux_1: virtual-mux-1 {
				compatible = "cros-ec,usbc-mux-virtual";
			};
		};
	};

	clock: clock {
		compatible = "cros,clock-control-emul";
		clock-frequency = <DT_FREQ_M(100)>; /* 100 MHz */
	};
	cros_flash: cros-flash {
		compatible = "cros-ec,flash-emul";
	};

	cros_rtc: cros-rtc {
		compatible = "cros-ec,rtc-emul";
	};

	test_uart: uart@55556666 {
	   compatible = "vnd,serial";
	   reg = <0x55556666 0x1000>;
	   status = "okay";
	   buffer-size = <200>;
	};

};

&espi0 {
	espi-host@0 {
		status = "okay";
		compatible = "zephyr,espi-emul-espi-host";
		reg = <0x0>;
	};
};

&gpio0 {
	ngpios = <32>;
};

&i2c0 {
	battery: sb@b {
		compatible = "zephyr,smart-battery-emul";
		reg = <0xb>;
		cycle-count = <99>;
		version = "BATTERY_SPEC_VER_1_1_WITH_PEC";
		/* Real battery voltages are multiples of 4.4V. */
		desired-charg-volt = <5000>;
		desired-charg-cur = <1000>;
		mf-name = "LGC";
		dev-name = "AC17A8M";
	};

	battery2: sb@3a {
		compatible = "zephyr,smart-battery-emul";
		reg = <0x3a>;
		cycle-count = <99>;
		version = "BATTERY_SPEC_VER_1_1_WITH_PEC";
		/* Real battery voltages are multiples of 4.4V. */
		desired-charg-volt = <5000>;
		desired-charg-cur = <1000>;
		mf-name = "PANASONIC";
		dev-name = "AP16L5J";
	};

	ln9310: ln9310@72 {
		compatible = "cros,ln9310-emul";
		status = "okay";
		reg = <0x72>;
		pg-int-pin = <&gpio_switchcap_pg_int_l>;
	};

	i2c_mock: i2c_mock@84 {
		compatible = "cros,i2c-mock";
		status = "okay";
		reg = <0x84>;
	};
};

&flash0 {
        erase-block-size = <0x1000>;
        write-block-size = <1>;
        reg = <0x00000000 DT_SIZE_K(512)>;
};
