# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Enable RTS5912 image tool
CONFIG_REALTEK_RTS5912_BOOTROM_HEADER=y

# Power Management
CONFIG_PM=y
CONFIG_PM_DEVICE=y
CONFIG_PM_POLICY_CUSTOM=y

# Console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# Shell features
CONFIG_SHELL_HISTORY_BUFFER=256
CONFIG_SHELL_BACKEND_SERIAL_RX_POLL_PERIOD=1
CONFIG_SHELL_BACKEND_SERIAL_INTERRUPT_DRIVEN=n

# GPIO Controller
CONFIG_GPIO=y
CONFIG_GPIO_GET_CONFIG=y

# Clock Controller
CONFIG_CLOCK_CONTROL=y

# Serial Drivers
CONFIG_SERIAL=y

# WATCHDOG configuration
CONFIG_WATCHDOG=n

# BBRAM
CONFIG_BBRAM=y

CONFIG_PM_POLICY_DEFAULT=y
