# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

choice FP_ALGORITHM
	prompt "Fingerprint matching algorithm"
	help
	 Select Fingerprint matching algotithm that will be used to create new
	 templates and compare finger scan.

endchoice
