# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config BOARD_GERALT
	bool "Google Geralt Board"
	help
	  Build Google Geralt board. Geralt is the reference device
	  that has MediaTek MT8188G SoC with ITE it81202-cx EC.

source "Kconfig.zephyr"
