/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
/* Pujjocento-specific fw_config fields. */
	trulo-fw-config {
		compatible = "cros-ec,cbi-fw-config";
		/*
		 * FW_CONFIG field to enable KB backlight or not.
		 */
		kb-bl {
			enum-name = "FW_KB_BL";
			start = <7>;
			size = <1>;

			no-kb-bl {
				compatible = "cros-ec,cbi-fw-config-value";
				enum-name = "FW_KB_BL_NOT_PRESENT";
				value = <0>;
				default;
			};
			kb-bl-present {
				compatible = "cros-ec,cbi-fw-config-value";
				enum-name = "FW_KB_BL_PRESENT";
				value = <1>;
			};
		};

		/*
		 * FW_CONFIG field to enable fan or not.
		 */
		fan {
			enum-name = "FW_FAN";
			start = <2>;
			size = <1>;

			no-fan {
				compatible = "cros-ec,cbi-fw-config-value";
				enum-name = "FW_FAN_NOT_PRESENT";
				value = <0>;
			};
			fan-present {
				compatible = "cros-ec,cbi-fw-config-value";
				enum-name = "FW_FAN_PRESENT";
				value = <1>;
				/*
				 * Set as default so that unprovisioned
				 * configs will run the fan regardless.
				 */
				default;
			};
		};

		/*
		 * FW_CONFIG field to enable ish or not.
		 */
		ish {
			enum-name = "ISH";
			start = <13>;
			size = <1>;

			ish-disabled {
				compatible = "cros-ec,cbi-fw-config-value";
				enum-name = "ISH_DISABLED";
				value = <0>;
				default;
			};
			ish-enabled {
				compatible = "cros-ec,cbi-fw-config-value";
				enum-name = "ISH_ENABLED";
				value = <1>;
			};
		};

		/*
		 * FW_CONFIG field to describe Clamshell/Convertible.
		 */
		form-factor {
			enum-name = "FORM_FACTOR";
			start = <14>;
			size = <1>;

			form-factor-clamshell {
				compatible = "cros-ec,cbi-fw-config-value";
				enum-name = "FORM_FACTOR_CONVERTIBLE";
				value = <0>;
				default;
			};
			form-factor-convertible {
				compatible = "cros-ec,cbi-fw-config-value";
				enum-name = "FORM_FACTOR_CLAMSHELL";
				value = <1>;
			};
		};
	};

	/* Pujjocento-specific ssfc fields. */
	cbi-ssfc {
		compatible = "cros-ec,cbi-ssfc";
		/*
		* SSFC field to identify BASE motion sensor.
		*/
		base-sensor {
			enum-name = "BASE_SENSOR";
			size = <3>;

			base_sensor_0: lsm6dsm {
				compatible = "cros-ec,cbi-ssfc-value";
				status = "okay";
				value = <0>;
				default;
			};
			base_sensor_1: lis2dw12 {
				compatible = "cros-ec,cbi-ssfc-value";
				status = "okay";
				value = <1>;
			};
			base_sensor_2: bmi323 {
				compatible = "cros-ec,cbi-ssfc-value";
				status = "okay";
				value = <2>;
			};
		};
	};
};
