/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	chosen {
		cros-fp,fingerprint-sensor = &ft9865;
	};
};

&spi0 {
	ft9865: ft9865@0 {
		compatible = "ft,ft9865";
		reg = <0>;
		spi-max-frequency = <4000000>;

		width = <64>;
		height = <80>;
		bits-per-pixel = <8>;
		v4l2-pixel-format = "V4L2_PIX_FMT_GREY";

		irq-gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
	};
};
