# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config TEST_I2C_DEFAULT
	bool "Enable default tests"

config TEST_I2C_PEC
	bool "Enable PEC tests"

source "Kconfig.zephyr"
