# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config MUX_INIT_ADC
	bool "Run the tests intended for usb_nux_init adc"
	help
	  Include stubs.c with const struct adc_t adc_channels[] function
	  into the binary to test.

choice
	prompt "select the test suite"

config TEST_GERALT
	bool "Run the tests intended for geralt"
	help
	  Run the tests for geralt common code.
endchoice

source "Kconfig.zephyr"
