/* Copyright 2022 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	pwmleds {
		compatible = "pwm-leds";
		led_battery_red: ec_led1_odl {
			pwms = <&pwm0 0 PWM_HZ(100) PWM_POLARITY_INVERTED>;
		};
		led_battery_green: ec_led2_odl {
			pwms = <&pwm1 0 PWM_HZ(100) PWM_POLARITY_INVERTED>;
		};
		led_battery_blue: ec_led3_odl {
			pwms = <&pwm2 0 PWM_HZ(100) PWM_POLARITY_INVERTED>;
		};
		led_power_white: ec_led4_odl {
			pwms = <&pwm4 0 PWM_HZ(100) PWM_POLARITY_INVERTED>;
		};
	};
};

/* Red LED */
&pwm0 {
	status = "okay";
	drive-open-drain;
	clock-bus = "NPCX_CLOCK_BUS_LFCLK";
};

/* Green LED */
&pwm1 {
	status = "okay";
	drive-open-drain;
	clock-bus = "NPCX_CLOCK_BUS_LFCLK";
};

/* Blue LED */
&pwm2 {
	status = "okay";
	drive-open-drain;
	clock-bus = "NPCX_CLOCK_BUS_LFCLK";
};

/* White LED */
&pwm4 {
	status = "okay";
	drive-open-drain;
	clock-bus = "NPCX_CLOCK_BUS_LFCLK";
};
