# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

if PLATFORM_EC

config CROS_SYSTEM_XEC_PRE_INIT_PRIORITY
	int "System pre-initialization priority"
	default 15
	range 10 19
	depends on SOC_FAMILY_MICROCHIP_MEC
	help
	  This sets the priority of the MCHP XEC chip system initialization.
	  The chip system initialization verifies the integrity of the BBRAM
	  must be a lower priority than CONFIG_BBRAM_INIT_PRIORITY and
	  must be a higher priority than PLATFORM_EC_SYSTEM_PRE_INIT.

config CROS_SYSTEM_XEC_VCI_GPIO
	bool
	default y if PLATFORM_EC_HIBERNATE_VCI && DT_HAS_CROS_EC_VCI_GPIOS_ENABLED
	help
	  Use VCI pins as GPIOS, this is useful in case VCI_INx pin is not
	  multiplexed with any GPIO.


if CROS_SYSTEM_XEC_VCI_GPIO

config VCI_GPIO_IN0_RISING_TIMER
	bool
	default y
	help
	  VCI_IN0 pin does not support configuring risin edge interruption,
	  this will use SW solution for this limitation.
endif
endif # PLATFORM_EC
