# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config TEST_BOARD_CHIPSET
	bool "Run the tests intended for board_chipset"
	help
	  Include board_chipset.c into the binary. Test their functions in
	  different combinations: good battery vs low battery, normal boot
	  vs delayed boot, etc.

config TEST_EVOKER_CHARGER_OVERRIDE
	bool "Run the tests intended for board_charger_override of evoker"
	help
	  Check the evoker board_charger_profile_override function can
	  override battery requested_current.

source "Kconfig.zephyr"
