# unbuffered connection data == oe
ftdi_layout_signal nTRST -data 0x0010 -oe 0x0010
debug_level 2

ftdi_layout_init 0x0018 0x009b
# open collector oe only
# ftdi_layout_signal nSRST -oe 0x0020
reset_config trst_only

transport select jtag

set _CHIPNAME it8xxx2
jtag newtap $_CHIPNAME cpu -irlen 5 -ircapture 0x1 -irmask 0x1f
set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME

# adapter srst delay 100
# adapter srst pulse_width 100
adapter speed 1000

init
halt
