# Copyright 2025 The ChromiumOS Authors.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

if SOC_SERIES_RTS5912

# Power management options
config PM
	default y

config PM_DEVICE
	default y

choice PM_POLICY
	default PM_POLICY_CUSTOM
endchoice

#
# RTS5915:
#	384 kb total SRAM:
#		0x2000_0000 - 0x2000_6fff: chrome-loader (28 kb)
#		0x2000_7000 - 0x2000_b3df: customer use (16 kb)
#		0x2000_b3e0 - 0x2004_b3ff: code (256 kb + 20 byte header)
#		0x2004_b400 - 0x2004_ffff: customer use (19 kb)
#		0x2005_0000 - 0x2005_ffff: data use (64 kb)
#	1MB internal SPI flash (reg mapped)
#		0x6000_0000 - 0x6007_FFFF: RO
#		0x6008_0000 - 0x600F_FFFF: RW

# TODO: b/416020794, make the EC image size as big as the available code RAM.
config CROS_EC_PROGRAM_MEMORY_BASE
	default 0x2000b400

config CROS_EC_RAM_BASE
	default 0x20050000

# 64KB data buffer
config CROS_EC_DATA_RAM_SIZE
	default 0x10000

config CROS_EC_RAM_SIZE
	default 0x10000

config CROS_EC_RO_MEM_OFF
	default 0

# Image size should be limited by sram code size
# TODO: b/416020794, make the EC image size as big as the available code RAM.
config CROS_EC_RO_SIZE
	default 0x40000

config CROS_EC_RW_SIZE
	default 0x40000

config CROS_EC_RW_MEM_OFF
	default 0

endif # SOC_SERIES_RTS5912
