/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	chosen {
		cros-fp,fingerprint-sensor = &elan80sg;
	};
};

&spi0 {
	elan80sg: elan80sg@0 {
		compatible = "elan,elan80sg";
		reg = <0>;
		spi-max-frequency = <4000000>;

		width = <80>;
		height = <80>;
		bits-per-pixel = <16>;
		v4l2-pixel-format = "V4L2_PIX_FMT_GREY";

		irq-gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
	};
};
