# Copyright 2017 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

source [file join [file dirname [info script]] stm32h743i-eval.cfg]

gdb_port 6666
tcl_port 6669
telnet_port 6667
init
reset init

# You can launch it with:
# sudo openocd -f board/meowth_fp/openocd-debug.cfg
# You can now connect with GDB:
# arm-none-eabi-gdb --ex "target remote :6666" build/meowth_fp/RO/ec.RO.elf
