# Copyright 2017 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

source [file join [file dirname [info script]] stm32h743i-eval.cfg]

gdb_port 0
tcl_port 0
telnet_port 0
init
reset init
# uncomment the next line to backup the content of the flash
#flash read_bank 0 $BUILD_DIR/readback0.bin 0x08000000 0x00100000
flash write_image erase unlock $BUILD_DIR/ec.bin 0x08000000
#flash write_image erase unlock build/meowth_fp/ec.bin 0x08000000
reset halt
resume
shutdown
