# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config PLATFORM_EC_AP_HANG_DETECT
	bool "AP hang detect support"
	default n
	help
	  Enable EC based watchdog that will reset AP when the AP hangs.

if PLATFORM_EC_AP_HANG_DETECT

config PLATFORM_EC_AP_HANG_DETECT_FOR_EVENT
	bool "AP hang detect support for event"
	default n
	help
	  Enable additional event to be sent when EC detects that AP
	  has hang, before it will reset the AP.

endif # PLATFORM_EC_AP_HANG_DETECT
