# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config PLATFORM_EC_TOUCHPAD
	bool "Keyboard support"
	select HAS_TASK_TOUCHPAD
	help
	  <WIP>

config PLATFORM_EC_TOUCHPAD_ELAN
	bool "Elan touchpad driver"
	select PLATFORM_EC_TOUCHPAD
	help
	  <WIP>
