# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

if PLATFORM_EC_USBC

config PLATFORM_EC_USB_PD_INTEL_ALTMODE
	bool "PD task to configure USB-C Alternate modes on Intel SoC"
	select PLATFORM_EC_USBC_SS_MUX
	select PLATFORM_EC_USB_MUX_VIRTUAL
	select PLATFORM_EC_USB_PD_HOST_CMD
	help
	  Enable this to support configuring the USB-C alternate modes on
	  Intel SoC when using PD chips in PD mode.

config PLATFORM_EC_CONSOLE_CMD_INTEL_ALTMODE
	bool "Console command: altmode"
	depends on PLATFORM_EC_USB_PD_INTEL_ALTMODE
	default y
	help
	  Enable this to read/write to the status/control registers of
	  PD that are compliant with Intel alternate mode configuration
	  specification.

endif #  PLATFORM_EC_USBC
