# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config PLATFORM_EC_ROLLBACK
	bool "Rollback support"
	help
	  Enable rollback support.

config PLATFORM_EC_ROLLBACK_VERSION
	int "Rollback version stored in the image data"
	default 0
	help
	  This value is used by the RW signature verification to check if RW
	  part of firmware wasn't downgraded to vulnerable version. Minimal
	  rollback version is stored in rollback regions.

if PLATFORM_EC_ROLLBACK

config PLATFORM_EC_ROLLBACK_SECRET_SIZE
	int "Size of rollback secret"
	default 32
	help
	  Size of the rollback secret.

config PLATFORM_EC_ROLLBACK_UPDATE
	bool "Allow rollback secret updating"
	default n
	help
	  If enabled, rollback secret can be updated (e.g. by adding more
	  entropy to it).

config PLATFORM_EC_ROLLBACK_MPU_PROTECT
	bool "Enable MPU protection of rollback regions"
	depends on MPU
	default y
	help
	  If enabled, flash area that contains rollback data will be protected
	  against unwanted read/write.

endif  # PLATFORM_EC_ROLLBACK
