# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config PLATFORM_EC_POE
	bool "Support for Power over Ethernet (POE)"
	help
	  This option enables support for Power over Ethernet.
