# Copyright 2021 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

if BOARD_STM32F412CX

config BOARD
	default "stm32f412cx"

endif # BOARD_STM32F412CX
