# Copyright 2022 The ChromiumOS Authors.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Zephyr Kernel Configuration
CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F412CX=y

# Platform Configuration
CONFIG_BOARD_STM32F412CX=y

# DMA
CONFIG_DMA=y

# Serial Drivers
CONFIG_SERIAL=y
CONFIG_UART_ASYNC_API=n # Disable UART DMA for now (problem with lost characters)
CONFIG_UART_INTERRUPT_DRIVEN=y

# Console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_CONSOLE_INPUT_EXPIRED=y

# GPIO Controller
CONFIG_GPIO=y

# Clock Controller
CONFIG_CLOCK_CONTROL=y

# Pin Controller
CONFIG_PINCTRL=y

# Power management
CONFIG_PM=y

# WATCHDOG configuration
CONFIG_WATCHDOG=y
CONFIG_IWDG_STM32_INITIAL_TIMEOUT=10000

# RTC
CONFIG_COUNTER=y
CONFIG_COUNTER_RTC_STM32=y
CONFIG_COUNTER_RTC_STM32_CLOCK_LSI=y
CONFIG_COUNTER_RTC_STM32_BACKUP_DOMAIN_RESET=n

# Timer
CONFIG_COUNTER_TIMER_STM32=y

# BBRAM
CONFIG_BBRAM=y
CONFIG_BBRAM_STM32=y

# Flash
CONFIG_FLASH=y
CONFIG_SOC_FLASH_STM32=y
CONFIG_FLASH_PAGE_LAYOUT=y
