/* Copyright 2023 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include "base.dtsi"
#include "../program/corsola/ite_gpio.dtsi"
#include "../program/corsola/ite_interrupts.dtsi"
#include "../program/corsola/starmie/thermistor.dtsi"
#include <cros/thermistor/thermistor.dtsi>

/delete-node/ &pinctrl;

/ {
	charger_bc12_port1: charger {
		compatible = "cros-ec,temp-sensor-thermistor";

		thermistor = <&thermistor_rt9490>;
		adc = <&adc_charger>;
	};

	temp_sensor_1_thermistor: temp_sensor_1_thermistor {
		compatible = "cros-ec,temp-sensor-thermistor";

		thermistor = <&thermistor_1V8_100K_100K_4250B>;
		adc = <&adc_temp_sensor_1>;
	};

	named-temp-sensors {
		compatible = "cros-ec,temp-sensors";
		temp_charger: charger {
			sensor = <&charger_bc12_port1>;
		};

		lcd_thermistor: lcd_thermistor {
			sensor = <&temp_sensor_1_thermistor>;
		};
	};

	named-adc-channels {
		compatible = "named-adc-channels";

		adc_charger: charger {
			enum-name = "ADC_TEMP_SENSOR_CHARGER";
			io-channels = <&adc0 5>;
		};

		adc_temp_sensor_1: adc-temp-sensor-1 {
			enum-name = "ADC_TEMP_SENSOR_1";
			io-channels = <&adc0 6>;
		};
	};
};

&thermistor_1V8_100K_100K_4250B {
	status = "okay";
};
