/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include <zephyr/dt-bindings/led/led.h>

/ {
	aliases {
		led-strip = &led_strip_spi;
	};
};

&spim0 {
	status = "okay";
//	pinctrl-0 = <&spip_sclk_mosi_miso_gp95_gpa1_gpa3_gpa5_sl
//		     &spip_sclk_mosi_miso_gp95_gpa1_gpa3_gpa5_no_spip_inv>;
//	cs-gpios = <&gpioa 6 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
//	interrupts = <57 2>;

	led_strip_spi: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";

		/* SPI */
		reg = <0>; /* ignored, but necessary for SPI bindings */
		spi-max-frequency = <7500000>;
		frame-format = <32768>; /* SPI_FRAME_FORMAT_TI */

		/* WS2812 */
		chain-length = <10>; /* arbitrary; change at will */
		spi-one-frame = <0xe>;  /* 0xfc 0b11111100 T1H: 0.8us within 0.650~0.950us */
		spi-zero-frame = <0x8>; /* 0xe0 0b11100000 T0H: 0.4us within 0.250~0.550us */
		bits-per-symbol = <4>;
		color-mapping = <LED_COLOR_ID_BLUE
				 LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED>;
	};
};
