/* Copyright 2022 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include <cros/thermistor/thermistor.dtsi>

/ {
	name_temp_charger: charger {
		compatible = "cros-ec,temp-sensor-thermistor";

		thermistor = <&thermistor_rt9490>;
		adc = <&adc_charger>;
	};

	named-temp-sensors {
		compatible = "cros-ec,temp-sensors";
		temp_charger: charger {
			status = "okay";
			sensor = <&name_temp_charger>;
		};
	};

	usbc {
		port0@0 {
			ppc = <&bc12_ppc_port0>;
			ppc_alt = <&ppc_port0>;
		};
	};
};

&i2c_ctrl0 {
	ppc_port0: syv682x@44 {
		compatible = "silergy,syv682x", "cros,i2c-mock";
		status = "okay";
		reg = <0x44>;
	};

	bc12_ppc_port0: rt1739@70 {
		compatible = "richtek,rt1739", "cros,i2c-mock";
		status = "okay";
		reg = <0x70>;
	};
};
