
config BOARD_ATLAS__yn
	select HAVE_CHIP_NPCX_NPCX7
	select HIBERNATE_PSL
	select ADC
	select FPU
	select MPU
	select RTC
	select SWITCH
	select CHIP_PANIC_BACKUP
	select WATCHDOG_HELP

	select SPI_FLASH_REGS
	select HAVE_SPI_FLASH_W25Q80
	select FLASH_PSTATE_BANK

	select HAVE_CHIPSET_SKYLAKE
	select CHIPSET_HAS_PLATFORM_PMIC_RESET
	select CHIPSET_RESET_HOOK
	select CPU_PROCHOT_ACTIVE_LOW
	select POWER_S0IX

	select ACCEL_FIFO
	select ACCEL_INTERRUPTS
	select SENSOR_TIGHT_TIMESTAMPS

	select HAVE_ALS_OPT3001

	select TEMP_SENSOR
	select TEMP_SENSOR_BD99992GW
	select DPTF
	select HAVE_THERMISTOR_NCP15WB

	select HAVE_BATTERY_SMART
	select HAVE_BATTERY_DEVICE_CHEMISTRY_LION
	select PWR_STATE_DISCHARGE_FULL
	select BATTERY_CUT_OFF
	select BATTERY_HW_PRESENT_CUSTOM
	select BATTERY_PRESENT_CUSTOM
	select BATTERY_REQUESTS_NIL_WHEN_DEAD

#	select BOARD_VERSION
	select HAVE_BOARD_VERSION_CUSTOM

	select BOARD_FORCE_RESET_PIN

	select I2C
	select I2C_MASTER
	select I2C_MULTI_PORT_CONTROLLER

	select HAVE_KEYBOARD
	select KEYBOARD_BOARD_CONFIG
	select KEYBOARD_COL2_INVERTED
	select KEYBOARD_PROTOCOL_8042
	select KEYBOARD_REFRESH_ROW3
	select PWM_KBLIGHT
	select MKBP_EVENT
	select MKBP_USE_HOST_EVENT

	select LED_COMMON
	select LED_PWM
	select LED_PWM_CHARGE_STATE_ONLY
	select LED_PWM_ACTIVE_CHARGE_PORT_ONLY

	select POWER_BUTTON
	select POWER_BUTTON_X86
	select EXTPOWER_GPIO
	select POWER_TRACK_HOST_SLEEP_STATE

	select USBC_SS_MUX
	select USBC_SS_MUX_DFP_ONLY
	select USBC_VCONN
	select USBC_VCONN_SWAP

	select USB_POWER_DELIVERY
	select USB_PD_ALT_MODE
	select USB_PD_ALT_MODE_DFP
	select USB_PD_COMM_LOCKED
	select USB_PD_DISCHARGE_TCPC
	select USB_PD_DUAL_ROLE
	select USB_PD_DUAL_ROLE_AUTO_TOGGLE
	select USB_PD_LOGGING
	select USB_PD_TCPC_LOW_POWER
	select USB_PD_TCPM_TCPCI
	select USB_PD_TCPM_PS8751
	select USB_PD_TCPM_MUX
	select HAVE_USB_PD_VBUS_DETECT_TCPC
	select USB_PD_VBUS_MEASURE_NOT_PRESENT
	select USB_PD_TRY_SRC

	select LID_SWITCH
	select LOW_POWER_IDLE

	select CHARGER
	select CHARGER_V2
	select CHARGER_ISL9238
	select HAVE_CHARGER_ISL9238
	select CHARGER_PSYS_READ
	select CHARGER_DISCHARGE_ON_AC
	select CHARGER_PROFILE_OVERRIDE

	select CHARGE_MANAGER
	select CHARGE_MANAGER_EXTERNAL_POWER_LIMIT

	select VBOOT_HASH
	select VSTORE

	select CMD_ACCEL_INFO
	select CMD_ACCELS
	select CMD_BATT_MFG_ACCESS
	select CMD_CHARGER_ADC_AMON_BMON
	select CMD_PD_CONTROL

	select HOSTCMD_ESPI
	select HOSTCMD_ESPI_VW_SLP_SIGNALS
	select HOSTCMD_EVENTS
	select HOSTCMD_X86

	select LTO
	select SHA256_UNROLLED
	select SOFTWARE_PANIC

# these are implied:
#	select PWM

if BOARD_ATLAS__yn

config CHARGER_SENSE_RESISTOR_AC
	default 20

config CHARGER_SENSE_RESISTOR
	default 10

config USB_PD_PORT_COUNT
	default 2

config USB_PD_TRY_SRC_MIN_BATT_SOC
	default 2

config VSTORE_SLOT_COUNT
	default 1

config CHARGER_MIN_POWER_MW_FOR_POWER_ON
	default 15000

config CHARGER_INPUT_CURRENT
	default 512

config BATTERY_LEVEL_NEAR_FULL
	default 95

config ACCEL_FIFO_SIZE
	default 1024

config CHARGER_MIN_BAT_PCT_FOR_POWER_ON
	default 2

config POWER_SIGNAL_INTERRUPT_STORM_DETECT_THRESHOLD
	default 30

endif # BOARD_ATLAS__yn
