/* Copyright 2023 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
#include "../../boards/native_posix.overlay"

/ {
	named-gpios {
		compatible = "named-gpios";

                gpio_usb_c0_hpd: usb_c0_hpd {
                        gpios = <&gpio0 0 GPIO_OUTPUT_LOW>;
                        enum-name = "GPIO_USB_C0_DP_HPD";
                };
	};
};
