
/ {
	/* A fake GPIO bank for all of the power signals. */
	gpio_pwr: gpio@1000 {
		status = "okay";
		compatible = "zephyr,gpio-emul";
		reg = <0x1000 0x4>;
		rising-edge;
		falling-edge;
		high-level;
		low-level;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <32>;
	};

	named-gpios {
		gpio_all_sys_pwrgd: all_sys_pwrgd {
			gpios = <&gpioa 7 GPIO_INPUT>;
		};
		gpio_ec_soc_pwr_btn_odl: ec_soc_pwr_btn_odl {
			gpios = <&gpioc 1 GPIO_ODR_HIGH>;
			enum-name = "GPIO_PCH_PWRBTN_L";
		};
		gpio_gsc_ec_pwr_btn_odl: gsc_ec_pwr_btn_odl {
			gpios = <&gpio0 0 GPIO_INPUT_PULL_UP>;
			enum-name = "GPIO_POWER_BUTTON_L";
		};
	};

	common-pwrseq {
		compatible = "intel,ap-pwrseq";

		sys-pwrok-delay = <10>;
		all-sys-pwrgd-timeout = <20>;
	};

	ps_en_pp5000_s5: pwr-en-pp5000-s5 {
		compatible = "intel,ap-pwrseq-gpio";
		dbg-label = "PP5000_S5 enable output to regulator";
		enum-name = "PWR_EN_PP5000_A";
		gpios = <&gpio_pwr 0 0>;
		output;
	};
	pwr-adc-pp3300 {
		compatible = "intel,ap-pwrseq-gpio";
		dbg-label = "PP3300 PWROK";
		enum-name = "PWR_DSW_PWROK";
		gpios = <&gpio_pwr 1 0>;
	};
	ps_ec_soc_dsw_pwrok: pwr-ec-soc-dsw-pwrok {
		compatible = "intel,ap-pwrseq-gpio";
		dbg-label = "DSW_PWROK output to PCH";
		enum-name = "PWR_EC_SOC_DSW_PWROK";
		gpios = <&gpio_pwr 2 0>;
		output;
	};
	pwr-adc-pp1p05 {
		compatible = "intel,ap-pwrseq-gpio";
		dbg-label = "PP1P05 PWROK";
		enum-name = "PWR_PG_PP1P05";
		gpios = <&gpio_pwr 3 0>;
	};
	pwr-ec-pch-rsmrst-odl {
		compatible = "intel,ap-pwrseq-gpio";
		dbg-label = "RSMRST output to PCH";
		enum-name = "PWR_EC_PCH_RSMRST";
		gpios = <&gpio_pwr 4 0>;
		output;
	};
	ps_rsmrst_in: pwr-pg-ec-rsmrst-od {
		compatible = "intel,ap-pwrseq-gpio";
		dbg-label = "RSMRST power good from regulator";
		enum-name = "PWR_RSMRST";
		gpios = <&gpio_pwr 5 0>;
		interrupt-flags = <GPIO_INT_EDGE_BOTH>;
	};
	pwr-slp-s3-l {
		compatible = "intel,ap-pwrseq-gpio";
		dbg-label = "SLP_S3_L input from PCH";
		enum-name = "PWR_SLP_S3";
		gpios = <&gpio_pwr 6 0>;
		interrupt-flags = <GPIO_INT_EDGE_BOTH>;
	};
	pwr-slp-sus-l {
		compatible = "intel,ap-pwrseq-gpio";
		dbg-label = "SLP_SUS_L input from PCH";
		enum-name = "PWR_SLP_SUS";
		gpios = <&gpio_pwr 7 0>;
		interrupt-flags = <GPIO_INT_EDGE_BOTH>;
	};
	ps_en_pp3300_a: pwr-en-pp3300-s5 {
		compatible = "intel,ap-pwrseq-gpio";
		dbg-label = "PP3300_S5 enable output to LS";
		enum-name = "PWR_EN_PP3300_A";
		gpios = <&gpio_pwr 8 0>;
		output;
	};
	pwr-pch-pwrok {
		compatible = "intel,ap-pwrseq-gpio";
		dbg-label = "PCH_PWROK output to PCH";
		enum-name = "PWR_PCH_PWROK";
		gpios = <&gpio_pwr 9 0>;
		output;
	};
	pwr-all-sys-pwrgd {
		compatible = "intel,ap-pwrseq-external";
		dbg-label = "Combined all power good";
		enum-name = "PWR_ALL_SYS_PWRGD";
	};
	pwr-vccst-pwrgd-od {
		compatible = "intel,ap-pwrseq-gpio";
		dbg-label = "VCCST_PWRGD output to PCH";
		enum-name = "PWR_VCCST_PWRGD";
		gpios = <&gpio_pwr 10 0>;
		output;
	};
		pwr-ec-pch-sys-pwrok {
		compatible = "intel,ap-pwrseq-gpio";
		dbg-label = "SYS_PWROK output to PCH";
		enum-name = "PWR_EC_PCH_SYS_PWROK";
		gpios = <&gpio_pwr 11 0>;
		output;
	};
	pwr-sys-rst-l {
		compatible = "intel,ap-pwrseq-gpio";
		dbg-label = "SYS_RESET# output to PCH";
		enum-name = "PWR_SYS_RST";
		gpios = <&gpio_pwr 12 0>;
		output;
	};
	pwr-slp-s5 {
		compatible = "intel,ap-pwrseq-gpio";
		dbg-label = "SLP_S5 input from PCH";
		enum-name = "PWR_SLP_S5";
		gpios = <&gpio_pwr 13 0>;
	};
	pwr-slp-s4 {
		compatible = "intel,ap-pwrseq-gpio";
		dbg-label = "SLP_S4 input from PCH";
		enum-name = "PWR_SLP_S4";
		gpios = <&gpio_pwr 14 0>;
	};
	pwr-slp-s0-l {
		compatible = "intel,ap-pwrseq-gpio";
		dbg-label = "SLP_S0_L input from PCH";
		enum-name = "PWR_SLP_S0";
		gpios = <&gpio_pwr 15 0>;
		interrupt-flags = <GPIO_INT_EDGE_BOTH>;
	};

	/*
	 * Power signal emulation.
	 *
	 * When loaded by a test with power_signal_emul_load(), these make EC power
	 * inputs respond to changing outputs in the way a SoC will.
	 */
	en_pp5000_emul: en-pp5000-emul {
		/* When PP5000_S5 is enabled by EC, regulator asserts OK */
		compatible = "intel,ap-pwr-signal-emul";
		input-signal = <&ps_en_pp5000_s5>;
		init-value = <0>;
		pp5000-rsmrst-emul {
			output-signal = <&ps_rsmrst_in>;
			assert-delay-ms = <40>;
			init-value= <0>;
		};
	};

	en_pp3300_emul: en-pp3300-emul {
		/* When PP3000_S5 is enabled by EC, SoC asserts DSW_PWROK. */
		compatible = "intel,ap-pwr-signal-emul";
		input-signal = <&ps_en_pp3300_a>;
		init-value = <0>;
		pp3300-dsw-pwrok-emul {
			output-signal = <&ps_ec_soc_dsw_pwrok>;
			assert-delay-ms = <10>;
			init-value= <0>;
		};
	};

	sequence_g3_to_s5: sequence-g3-to-s5 {
		compatible = "intel,ap-pwr-test-platform";
		nodes = <&en_pp5000_emul &en_pp3300_emul>;
	};
};

&int_usb_c0 {
	status = "disabled";
};

&int_usb_c1 {
	status = "disabled";
};
