/* Copyright 2024 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include <it8xxx2_emul.dts>

#include "../program/nissa/cbi.dtsi"
#include "../program/nissa/teliks/cbi.dtsi"
#include "../program/nissa/teliks/motionsense.dtsi"

/ {
	named-gpios {
		compatible = "named-gpios";

		gpio_ec_entering_rw: ec_entering_rw {
			gpios = <&gpioc 7 GPIO_OUTPUT>;
			enum-name = "GPIO_ENTERING_RW";
		};
		gpio_en_usb_c0_cc1_vconn: en_usb_c0_cc1_vconn {
			gpios = <&gpioh 4 GPIO_OUTPUT>;
		};
		gpio_en_usb_c0_cc2_vconn: en_usb_c0_cc2_vconn {
			gpios = <&gpioh 6 GPIO_OUTPUT>;
		};
		gpio_usb_c0_int_odl: usb_c0_int_odl {
			gpios = <&gpiok 0 GPIO_INPUT_PULL_UP>;
		};
		gpio_imu_int_l: imu_int_l {
			gpios = <&gpioj 0 GPIO_INPUT>;
		};
		gpio_acc_int_l: acc_int_l {
			gpios = <&gpioc 0 GPIO_INPUT>;
		};
		gpio_tablet_mode_l: tablet_mode_l {
			gpios = <&gpioa 7 GPIO_INPUT>;
			enum-name = "GPIO_TABLET_MODE_L";
		};
		gpio_ec_battery_pres_odl: ec_battery_pres_odl {
			gpios = <&gpiol 5 GPIO_INPUT>;
			enum-name = "GPIO_BATT_PRES_ODL";
		};
	};

	gpio-interrupts {
		compatible = "cros-ec,gpio-interrupts";

		int_tablet_mode: tablet_mode {
			irq-pin = <&gpio_tablet_mode_l>;
			flags = <GPIO_INT_EDGE_BOTH>;
			handler = "gmr_tablet_switch_isr";
		};
		int_imu: ec_imu {
			irq-pin = <&gpio_imu_int_l>;
			flags = <GPIO_INT_EDGE_FALLING>;
			handler = "motion_interrupt";
		};
		int_lid_imu: lid_imu {
			irq-pin = <&gpio_acc_int_l>;
			flags = <GPIO_INT_EDGE_FALLING>;
			handler = "lid_accel_interrupt";
		};
	};

	named-i2c-ports {
		compatible = "named-i2c-ports";

		i2c_ec_i2c_sensor: ec_i2c_sensor {
			i2c-port = <&i2c0>;
			enum-names = "I2C_PORT_SENSOR";
		};
		i2c_ec_i2c_batt: ec_i2c_batt {
			i2c-port = <&i2c1>;
			enum-names = "I2C_PORT_BATTERY";
		};
	};

	usbc {
		#address-cells = <1>;
		#size-cells = <0>;
		port0@0 {
			compatible = "named-usbc-port";
			reg = <0>;
			tcpc = <&tcpci_emul_0>;
			usb-mux-chain-0 {
				compatible = "cros-ec,usb-mux-chain";
				usb-muxes = <&virtual_mux_0>;
			};
		};
		port1@1 {
			compatible = "named-usbc-port";
			reg = <1>;
			tcpc = <&tcpci_emul_1>;
			usb-mux-chain-1 {
				compatible = "cros-ec,usb-mux-chain";
				usb-muxes = <&virtual_mux_1>;
			};
		};
		port0-muxes {
			virtual_mux_0: virtual-mux-0 {
				compatible = "cros-ec,usbc-mux-virtual";
			};
		};
		port1-muxes {
			virtual_mux_1: virtual-mux-1 {
				compatible = "cros-ec,usbc-mux-virtual";
			};
		};
	};

	scancode-set2 {
		compatible = "cros-ec,scancode-set2";
		col0-codes  = <0x0000 0x0000 0x0000 0xe01f 0x0000 0x0000 0xe01f 0x0000>;
		col1-codes  = <0xe01f 0x0076 0x000d 0x000e 0x001c 0x001a 0x0016 0x0015>;
		col2-codes  = <0x0005 0x000c 0x0004 0x0006 0x0023 0x0021 0x0026 0x0024>;
		col3-codes  = <0x0032 0x0034 0x002c 0x002e 0x002b 0x002a 0x0025 0x002d>;
		col4-codes  = <0x0009 0x0083 0x000b 0x0003 0x001b 0x0022 0x001e 0x001d>;
		col5-codes  = <0x0051 0x0000 0x005b 0x0000 0x0042 0x0041 0x003e 0x0043>;
		col6-codes  = <0x0031 0x0033 0x0035 0x0036 0x003b 0x003a 0x003d 0x003c>;
		col7-codes  = <0x0000 0x0000 0x0061 0x0000 0x0000 0x0012 0x0000 0x0059>;
		col8-codes  = <0x0055 0x0052 0x0054 0x004e 0x004c 0x004a 0x0045 0x004d>;
		col9-codes  = <0x0000 0x0001 0x000a 0x002f 0x004b 0x0049 0x0046 0x0044>;
		col10-codes = <0xe011 0x0000 0x006a 0x0000 0xe01f 0x0000 0x005d 0x0000>;
		col11-codes = <0x0000 0x0066 0x0000 0x005d 0x005a 0x0029 0xe072 0xe075>;
		col12-codes = <0x0000 0x0064 0x0000 0x0067 0x0000 0x0000 0xe074 0xe06b>;
		col13-codes = <0x0000 0x0000 0x0000 0x0000 0x0000 0x0000 0x0011 0x0000>;
		col14-codes = <0x0000 0x0014 0x0000 0xe014 0x0000 0x0000 0x0000 0x0000>;
	};
};

&i2c4 {
	tcpci_emul_0: tcpci_emul@82 {
		compatible = "cros,tcpci-generic-emul";
		status = "okay";
		reg = <0x82>;
	};
};

&i2c4 {
	tcpci_emul_1: tcpci_emul@84 {
		compatible = "cros,tcpci-generic-emul";
		status = "okay";
		reg = <0x84>;
	};
};
