# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config HIBERNATE_Z5_INIT_SHOULD_FAIL
	bool
	help
	  Helper symbol that indicates that the hibernate z5 driver
	  initialization is expected to fail.

config TEST_HIBERNATE_Z5_DEFAULT
	bool "Hibernate Z5 default test"
	help
	  Default test case for the hibernate z5 driver. This verifies the
	  happy paths.

config TEST_HIBERNATE_Z5_GPIO_NOT_READY
	bool "Hibernate Z5 GPIO not ready test"
	select HIBERNATE_Z5_INIT_SHOULD_FAIL
	help
	  Verifies the hibernate z5 driver handles a GPIO port not ready.

config TEST_HIBERNATE_Z5_GPIO_BAD_CONFIG
	bool "Hibernate Z5 GPIO config fail test"
	select HIBERNATE_Z5_INIT_SHOULD_FAIL
	help
	  Verifies the hibernate z5 driver handles errors during GPIO
	  configuration.

source "Kconfig.zephyr"
