/* Copyright 2022 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	common-pwrseq {
		compatible = "ap-pwrseq";

		pm-pwrbtn-delay = <200>;
		rsmrst-delay = <10>;
		sys-pwrok-delay = <45>;
		pch-pwrok-delay = <2>;
		vccst-pwrgd-delay = <2>;
		vrrdy-timeout = <50>;
		sys-reset-delay = <32>;
	};
};
