/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* ocelot program common DTS includes */

#include <cros/integrated_fwid.dtsi>

/* ocelotrvp-ite project DTS includes */

#include "generated.dtsi"
#include "../rvp_usba.dtsi"

/*
 * Map I2C buses to common names
 */

i2c_port_pd1: &i2c1 {
};

i2c_port_pd2: &i2c3 {
};

i2c_port_charger: &i2c4 {
};

i2c_port_ish: &i2c5 {
};

/*
 * Map GPIOs used for interrupts to common names
 */

gpio_acok: &gpio_acok_od {};
gpio_dc_jack_present: &gpio_std_adp_prsnt_r {};
gpio_lid: &gpio_lid_open {};
gpio_pwrbtn: &gpio_gsc_ec_pwr_btn_odl {};
gpio_voldn: &gpio_ec_voldn_btn_odl {};
gpio_volup: &gpio_ec_volup_btn_odl {};

#include "../rvp_battery.dtsi"
#include "../rvp_i2c.dtsi"
#include "../rvp_interrupts.dtsi"

/* ocelotrvp-ite overrides follow... */
/ {
	aliases {
		gpio-wp = &gpio_c_ec_wp_odl_r;
	};

	named-gpios {
		/* unimplemented GPIOs */
		entering-rw {
			enum-name = "GPIO_ENTERING_RW";
		};
	};
};

&sha0 {
	status = "okay";
};

/* Disable nodes for features not yet enabled. */
/delete-node/ &{/named-adc-channels};
/delete-node/ &int_dc_jack_present;

&pwm1 {
	status = "disabled";
};
&pwm2 {
	status = "disabled";
};
&pwm3 {
	status = "disabled";
};
&pwm5 {
	status = "disabled";
};
