# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

source "Kconfig.zephyr"

config LINK_TEST_SUITE_EXTPOWER_DEFAULT
	bool "Link and test the extpower test suites"
	help
	  Link and test the extpower tests suites, excluding the
	  the init test.

config LINK_TEST_SUITE_EXTPOWER_INIT
	bool "Link and test the extpower init test suite"
	help
	  Link and test the extpower init test suite.

config ACOK_INIT_VALUE
	int "Initial logical value of the AC OK input"
	default 0
	range 0 1
	help
	  This sets the initial logical value of the AC OK input for the
	  extpower tests.
