/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

&gpio0 {
	ngpios = <2>;
};

&hibernate_z5 {
	/* Pick an out of bounds GPIO to force an error during pin configure. */
	en-slp-z-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
};
