/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

&usbc0 {
	zephyr,deferred-init;
};

&usbc1 {
	zephyr,deferred-init;
};
