# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.


menuconfig FINGERPRINT_SENSOR_ELAN80SG
	bool "Fingerprint driver for ELAN80SG"
	default y
	depends on DT_HAS_ELAN_ELAN80SG_ENABLED
	help
	  Driver for ELAN80SG fingerprint sensor. It requires ELAN private library
	  to implement cros_fingerprint API. If the library is not available it
	  only supports checking sensor hardware ID.

if FINGERPRINT_SENSOR_ELAN80SG

config FINGERPRINT_SENSOR_ELAN80SG_HEAP_SIZE
	int "Size of heap for ELAN80SG driver"
	default 36864
	help
	  Size of heap to be used by ELAN private library. The heap must have
	  enough space to facilitate the generation of the finger templates
	  during the enrollment process and to enable efficient runtime matching
	  operations. For these operations, a 36KB heap is sufficient.

config FINGERPRINT_SENSOR_ELAN80SG_PAL
	bool "Platform Abstraction Layer for ELAN private library"
	default y
	help
	  If enabled, Platform Abstraction Layer for ELAN private library will be
	  compiled. The PAL is used to interact with the sensor (SPI, GPIO) and
	  the system (heap allocations, printing messages, time functions).

# Enabled in private driver Kconfig
config HAVE_ELAN80SG_PRIVATE_DRIVER
	bool
	help
	  If enabled, it indicates that the private driver is present.

endif # FINGERPRINT_SENSOR_ELAN80SG
