# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.


menuconfig FINGERPRINT_SENSOR_ELAN80SG
	bool "Fingerprint driver for ELAN80SG"
	default y
	depends on DT_HAS_EGIS_ELAN80SG_ENABLED
	help
	  Driver for ELAN80SG fingerprint sensor. It requires EGIS private library
	  to implement cros_fingerprint API. If the library is not available it
	  only supports checking sensor hardware ID.

if FINGERPRINT_SENSOR_ELAN80SG

config FINGERPRINT_SENSOR_ELAN80SG_HEAP_SIZE
	int "Size of heap for ELAN80SG driver"
	default 65536
	help
	  Size of heap to be used by EGIS private library. The heap must have
	  enough size to keep finger templates during matching.
	  64KB is enough to match 5 templates at once.

config FINGERPRINT_SENSOR_ELAN80SG_PAL
	bool "Platform Abstraction Layer for EGIS private library"
	default y if HAVE_ELAN80SG_PRIVATE_DRIVER
	help
	  If enabled, Platform Abstraction Layer for EGIS private library will be
	  compiled. The PAL is used to interact with the sensor (SPI, GPIO) and
	  the system (heap allocations, printing messages, time functions).

# Enabled in private driver Kconfig
config HAVE_ELAN80SG_PRIVATE_DRIVER
	bool
	default n
	help
	  If enabled, it indicates that the private driver is present.

endif # FINGERPRINT_SENSOR_ELAN80SG
