# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config FINGERPRINT_SENSOR_FT9865
	bool "Fingerprint driver for FT9865"
	default y
	depends on DT_HAS_FT_FT9865_ENABLED
