# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config FINGERPRINT_SENSOR_FT98XX
	bool "FT98XX sensor driver"
	help
	  Enable driver for focaltech ft98 series sensor

if FINGERPRINT_SENSOR_FT98XX

config FINGERPRINT_SENSOR_FT98XX_PAL
	bool "Platform Abstraction Layer for Focaltech private library"
	default y
	help
	  If enabled, Platform Abstraction Layer for Focaltech private library will be
	  compiled. The PAL is used to interact with the sensor (SPI, GPIO) and
	  the system (heap allocations, printing messages, time functions).

# Enabled in private driver Kconfig
config HAVE_FT98XX_PRIVATE_DRIVER
	bool
	default n
	help
	  If enabled, it indicates that focaltech private driver is present.

endif # FINGERPRINT_SENSOR_FT98XX

menuconfig FINGERPRINT_SENSOR_FT9865
	bool "Fingerprint driver for FT9865"
	default y
	depends on DT_HAS_FT_FT98XX_ENABLED
	select FINGERPRINT_SENSOR_FT98XX
	help
	  Driver for FT9865 fingerprint sensor. It requires Focaltech private library
	  to implement cros_fingerprint API. If the library is not available it
	  only supports checking sensor hardware ID.