/* Copyright 2022 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include <board-overlays/native_posix.dts>
#include <cros/thermistor/thermistor.dtsi>

/ {
        /*
         * Keep these GPIOs in pin order.
         * If you need to add one, make sure you increase
         * ngpios in the gpio0 node further down.
         */
        named-gpios {
                compatible = "named-gpios";

                gpio_en_pp5000_s5: en_pp5000_s5 {
                        gpios = <&gpio0 2 GPIO_OUTPUT_LOW>;
                        enum-name = "GPIO_EN_PP5000";
                };
	};

	named-gpios {
		compatible = "named-gpios";
		entering-rw {
			gpios = <&gpio0 1 GPIO_OUTPUT_LOW>;
			enum-name = "GPIO_ENTERING_RW";
		};
	};

	adc0: adc {
		compatible = "zephyr,adc-emul";
		nchannels = <1>;
		ref-internal-mv = <3300>;
		#io-channel-cells = <1>;
		status = "okay";
	};

	named-adc-channels {
		compatible = "named-adc-channels";
		status = "okay";
		adc_temp_sensor_1: temp_sensor_1 {
			enum-name = "ADC_TEMP_SENSOR_1";
			io-channels = <&adc0 0>;
		};
	};

	named-temp-sensors {
		compatible = "cros-ec,temp-sensors";
                status = "okay";
		charger {
			sensor = <&temp_charger>;
		};
	};

	temp_charger: charger {
		compatible = "cros-ec,temp-sensor-thermistor";
		status = "okay";
		thermistor = <&thermistor_3V3_51K1_47K_4050B>;
		adc = <&adc_temp_sensor_1>;
	};
};

&gpio0 {
        ngpios = <3>;
};

&thermistor_3V3_51K1_47K_4050B {
	status = "okay";
};
