/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include <dt-bindings/usbc_mux.h>
#include <usbc-policy.dtsi>

/ {
	usbc {
		#address-cells = <1>;
		#size-cells = <0>;

		usbc_port0: port0@0 {
			compatible = "named-usbc-port";
			ccd;
			reg = <0>;
			chg = <&charger_bq25720>;
			pdc = <&pdc_power_p0>;
			policy = <&cros_policy>;
			usb-mux-chain-0 {
				compatible = "cros-ec,usb-mux-chain";
				usb-muxes = <&anx7483_mux_0 &virtual_mux_0>;
			};
		};

		port0-muxes {
			virtual_mux_0: virtual-mux-0 {
				compatible = "cros-ec,usbc-mux-virtual";
			};
		};

		ppm-driver {
			compatible = "ucsi-ppm";
		};
	};
};

&i2c1_0 {
	pdc_power_p0: rts54-pdc@66 {
		compatible = "realtek,rts54-pdc";
		reg = <0x66>;
		irq-gpios = <&gpioe 1 GPIO_ACTIVE_LOW>;
	};
	/* TODO(b:380121396): enable PDC I2C_S port if we need it */
};

&i2c2_0 {
	anx7483_mux_0: anx7483-mux-0@3e {
		compatible = "analogix,anx7483";
		reg = <0x3e>;
		board-set = "anx7483_set_default_tuning";
		flags = <USB_MUX_FLAG_RESETS_IN_G3>;
	};
};

&i2c3_0 {
	charger_bq25720: bq25720@9 {
		compatible = "ti,bq25710";
		status = "okay";
		reg = <0x9>;
	};
};

