/* Copyright 2022 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	named-i2c-ports {
		compatible = "named-i2c-ports";

		i2c_charger: charger {
			i2c-port = <&i2c7_0>;
			enum-names = "I2C_PORT_CHARGER",
				"I2C_PORT_BATTERY",
				"I2C_PORT_EEPROM",
				"I2C_PORT_KB_DISCRETE";
		};
		typec_aic2: typec-aic2 {
			i2c-port = <&i2c1_0>;
			enum-names = "I2C_PORT_TYPEC_AIC_2";
		};
	};
};

&i2c_ctrl1 {
	status = "okay";
};

&i2c_ctrl7 {
	status = "okay";
};

/* charger */
&i2c7_0 {
	label = "I2C_CHARGER";
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c7_0_sda_scl_gpb2_b3>;
	pinctrl-names = "default";

	charger: isl9241@9 {
		compatible = "intersil,isl9241";
		status = "okay";
		reg = <0x9>;
	};

	kb_discrete: ite-it8801@39 {
		compatible = "ite,it8801";
		reg = <0x39>;
	};

	cbi_eeprom: eeprom@50 {
		compatible = "atmel,at24";
		reg = <0x50>;
		size = <2048>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
	};
};

/* typec_aic2 */
&i2c1_0 {
	label = "I2C_USB_C2_C3_TCPC";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	pinctrl-0 = <&i2c1_0_sda_scl_gp87_90>;
	pinctrl-names = "default";

	tcpc_port2: ccgxxf@b {
		compatible = "cypress,ccgxxf";
		reg = <0xb>;
	};

	tcpc_port3: ccgxxf@1b {
		compatible = "cypress,ccgxxf";
		reg = <0x1b>;
	};
};
