
# Temperature sensor config */

config TEMP_SENSOR
	bool "Compile common code for temperature sensor support"

menu "Support particular temperature sensor chips"

config TEMP_SENSOR_ADT7481
	bool "ADT 7481 sensor, on I2C bus"
config TEMP_SENSOR_BD99992GW
	bool "BD99992GW PMIC, on I2C bus"
config TEMP_SENSOR_EC_ADC
	bool "Thermistors on EC's own ADC"
config TEMP_SENSOR_G781
	bool "G781 sensor, on I2C bus"
config TEMP_SENSOR_G782
	bool "G782 sensor, on I2C bus"
config TEMP_SENSOR_SB_TSI
	bool "SB_TSI sensor, on I2C bus"
config TEMP_SENSOR_TMP006
	bool "TI TMP006 sensor, on I2C bus"
config TEMP_SENSOR_TMP411
	bool "TI TMP411 sensor, on I2C bus"
config TEMP_SENSOR_TMP432
	bool "TI TMP432 sensor, on I2C bus"
config TEMP_SENSOR_TMP468
	bool "TI TMP468 sensor, on I2C bus"
config TEMP_SENSOR_F75303
	bool "Fintek  F75303 sensor, on I2C bus"

endmenu

config THERMISTOR
	bool "Compile common code for thermistor support"

# Support particular thermistors

config THERMISTOR_NCP15WB
	bool "NCP15WB thermistor"
	depends on THERMISTOR

menu "STEINHART_HART"
#	help
#	  If defined, image includes lookup tables and helper functions that convert
#	  thermistor ADC readings into degrees K based off of various circuit
#	  configurations.

config STEINHART_HART_3V0_22K6_47K_4050B
	bool "3V0_22K6_47K_4050B"
config STEINHART_HART_3V3_13K7_47K_4050B
	bool "3V3_13K7_47K_4050B"
config STEINHART_HART_3V3_51K1_47K_4050B
	bool "3V3_51K1_47K_4050B"
config STEINHART_HART_6V0_51K1_47K_4050B
	bool "6V0_51K1_47K_4050B"
config STEINHART_HART_3V3_30K9_47K_4050B
	bool "3V3_30K9_47K_4050B"

endmenu

config TEMP_SENSOR_POWER_GPIO
	bool "TEMP_SENSOR_POWER_GPIO"
	help
	  If defined, active-high GPIO which indicates temperature sensor chips are
	  powered.  If not defined, temperature sensors are assumed to be always
	  powered.

config THROTTLE_AP
	bool "Compile common code for throttling the CPU based on the temp sensors"
	select TEMP_SENSOR
	help
	  Thermal throttling AP must have temperature sensor enabled to get
	  the temperature readings.
