config ACCEL_FIFO
#	bool "Select ACCEL_FIFO"
	bool "Enable sensor FIFO"
	help
	  Add support for sensor FIFO

if ACCEL_FIFO

config ACCEL_FIFO_SIZE
	int "define the size of the global fifo, must be a power of 2."
#	depends on ACCEL_FIFO

config ACCEL_INTERRUPTS
	bool "Enable accelerometer interrupts"

config ACCEL__yn
	bool "Select ACCEL"

if ACCEL__yn

# TODO: do we support multiple accel types on a board?

choice
	prompt "Specify type of accelerometers attached"
	help
	  lis2dh/lis2de/lng2dm have the same register interface but different
	  supported resolution. In normal mode, lis2dh works in 10-bit resolution,
	  but lis2de/lng2dm only support 8bit resolution.

config ACCEL_BMA255
	bool "BMA255"
config ACCEL_KXCJ9
	bool "KXCJ9"
config ACCEL_KX022
	bool "KX022"
config ACCEL_LIS2DE
	bool "LIS2DE"
config ACCEL_LIS2DH
	bool "LIS2DH"
config ACCEL_LNG2DM
	bool "LNG2DM"
config ACCEL_LIS2DW12
	bool "LIS2DW12"
config ACCEL_LIS2DWL
	bool "LIS2DWL"

endchoice

config ACCEL_LIS2D_COMMON
	bool
	default y if ACCEL_LIS2DE || ACCEL_LIS2DH || ACCEL_LNG2DM

config ACCEL_LIS2DW_COMMON
	bool
	default y if ACCEL_LIS2DW12 || ACCEL_LIS2DWL

config ACCEL_LIS2DW_AS_BASE
	bool "lis2dw driver support fifo and interrupt"
	depends on ACCEL_LIS2DW_COMMON
	help
	  lis2dw driver support fifo and interrupt, but letting lid accel sensor work
	  at polling mode is a common selection in current usage model. We need get a
	  option to be able to select interrupt or polling (foced mode).

endif # ACCEL__yn

endif # ACCEL_FIFO

config ACCEL_SPOOF_MODE
	bool "Support \"spoof\" mode for sensors"
	default y
	help
	  Support "spoof" mode for sensors.  This allows sensors to have their values
	  spoofed to any arbitrary value.  This is useful for testing.

config ACCELGYRO__yn
	bool "Select ACCELGYRO"

if ACCELGYRO__yn

config HAVE_ACCELGYRO_BMI160
	bool
config HAVE_ACCELGYRO_LSM6DS0
	bool
config HAVE_ACCELGYRO_LSM6DSM
	bool
config HAVE_ACCELGYRO_LSM6DSO
	bool

choice
	prompt "ACCELGYRO"
	help
	  Use CONFIG_ACCELGYRO_LSM6DSM for LSM6DSL, LSM6DSM, and/or LSM6DS3

	default ACCELGYRO_BMI160  if HAVE_ACCELGYRO_BMI160
	default ACCELGYRO_LSM6DS0 if HAVE_ACCELGYRO_LSM6DS0
	default ACCELGYRO_LSM6DSM if HAVE_ACCELGYRO_LSM6DSM
	default ACCELGYRO_LSM6DSO if HAVE_ACCELGYRO_LSM6DSO

config ACCELGYRO_BMI160
	bool "BMI160"
config ACCELGYRO_LSM6DS0
	bool "LSM6DS0"
config ACCELGYRO_LSM6DSM
	bool "LSM6DSM"
config ACCELGYRO_LSM6DSO
	bool "LSM6DSO"

endchoice # 

config SENSORHUB_LSM6DSM
	bool "Add sensorhub function for LSM6DSM, required if 2nd device attached"
	depends on ACCELGYRO_LSM6DSM

config BMI160_SEC_I2C
	bool "When set, it indicates a secondary sensor is attached behind a BMI160"
	depends on ACCELGYRO_BMI160

config LSM6DSM_SEC_I2C
	bool "When set, it indicates a secondary sensor is attached behind a LSM6DSM/L"
	depends on ACCELGYRO_LSM6DSM

config ACCELGYRO_BMI160_INT2_OUTPUT
	bool "Set when INT2 is an ouptut"
	depends on ACCELGYRO_BMI160

config ORIENTATION_SENSOR
	bool "Select orientation sensor"
	depends on ACCEL_FIFO

if ORIENTATION_SENSOR

config BMI160_ORIENTATION_SENSOR
	bool "Support for BMI160 hardware orientation sensor"
	depends on ACCELGYRO_BMI160

config KX022_ORIENTATION_SENSOR
	bool "Support for KIONIX KX022 hardware orientation sensor"
	depends on ACCEL_KX022

config DEBUG_ORIENTATION
	bool "Print orientation when device orientation changes"

endif # ORIENTATION_SENSOR

endif # ACCELGYRO__yn

config MAG__yn
	bool "Select MAG"
	help
	  Specify type of Magnetometer attached

if MAG__yn

choice
	prompt "Specify type of Magnetometer attached"

config MAG_LIS2MDL
	bool "MAG_LIS2MDL"
config MAG_BMM150
	bool "MAG_BMM150"

endchoice

config MAG_BMI160_BMM150
	bool "Presence of a Bosh Sensortec BMM150 magnetometer behind a BMI160"
	depends on ACCELGYRO_BMI160

config MAG_LSM6DSM_BMM150
	bool "Presence of a Bosh Sensortec BMM150 magnetometer behind a LSM6DSM"
	depends on ACCELGYRO_LSM6DSM

config MAG_BMI160_LIS2MDL
	bool "Presence of a ST LIS2MDL magnetometer behind a BMI160"
	depends on ACCELGYRO_BMI160

config MAG_LSM6DSM_LIS2MDL
	bool "Presence of a ST LIS2MDL magnetometer behind a LSM6DSM"
	depends on ACCELGYRO_LSM6DSM

endif # MAG__yn

config BARO_BMP280
	bool "Specify barometer attached"

config GESTURE_ORIENTATION
	bool "Support the orientation gesture"

config ACCEL_STD_REF_FRAME_OLD
	bool "Use the old standard reference frame for accelerometers"
	help
	  Use the old standard reference frame for accelerometers. The old
	  reference frame is:
	   Z-axis: perpendicular to keyboard, pointing up, such that if the device
           is sitting flat on a table, the accel reads +G.
	   X-axis: in the plane of the keyboard, pointing from the front lip to the
	   hinge, such that if the device is oriented with the front lip touching
	   the table and the hinge directly above, the accel reads +G.
	   Y-axis: in the plane of the keyboard, pointing to the right, such that
	   if the device is on it's left side, the accel reads +G.

	   Also, in the old reference frame, the lid accel matches the base accel
	   readings when lid is closed.

config GYRO_L3GD20H
	bool "Specify type of Gyrometers attached"

config SENSOR_TIGHT_TIMESTAMPS
	bool "SENSOR_TIGHT_TIMESTAMPS"
	help
	  If this is defined, motion_sense sends sensor events to the AP in the format
	  +-----------+
	  | Timestamp |
	  |  Payload  |
	  | Timestamp |
	  |  Payload  |
	  |    ...    |
	  +-----------+

	  If this is not defined, the events will be sent in the format
	  +-----------+
	  |  Payload  |
	  |  Payload  |
	  |  Payload  |
	  |    ...    |
	  | Timestamp |
	  +-----------+

	  The former format enables improved filtering of sensor event timestamps on
	  the AP, but comes with stricter jitter requirements.
