# Copyright 2024 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

choice TEST_PROJECT_TYPE
	prompt "Select Intel RVP board variant for tests"
	help
	  Choose the board variant for which the tests will be compiled and run.

config TEST_PROJECT_MTLRVPP_COMMON
	bool "Enable tests for board mtlrvp common source code"
	help
	  Enable tests specific to the mtlrvp common source code.

config TEST_PROJECT_MTLRVPP_NPCX
	bool "Enable tests for board mtlrvp_npcx"
	help
	  Enable tests specific to the mtlrvp_npcx variant.

config TEST_PROJECT_MTLRVPP_MCHP
	bool "Enable tests for board mtlrvp_mchp"
	help
	  Enable tests specific to the mtlrvp_mchp variant.

config TEST_PROJECT_MTLRVPP_PD
	bool "Enable tests for board mtlrvp_pd"
	help
	  Enable tests specific to the mtlrvp_pd variant.
endchoice

config TEST_PROJECT_MTL_BOARD_POWER
	bool "Run tests for board_power.c"
	depends on TEST_PROJECT_MTLRVPP_NPCX || TEST_PROJECT_MTLRVPP_MCHP || \
		   TEST_PROJECT_MTLRVPP_PD
	help
	  Include board_power.c into the binary and test its functions.

config TEST_X86_NON_DSX_PWRSEQ_MTL
	bool "Replace CONFIG_X86_NON_DSX_PWRSEQ_MTL for testing"
	help
	  This is used to replace CONFIG_X86_NON_DSX_PWRSEQ_MTL for testing
	  purposes directly.

config TEST_PROJECT_BOARD_ID
	bool "Run INTELRVP board id test"
	help
	  Run board ID test for INTELRVP.

config TEST_PROJECT_TCPC
	bool "Run tests for tcpc.c"
	help
	  Include tcpc.c into the binary and test its functions.

config TEST_PROJECT_CHG_USB_PD_MECC
    bool "Run tests for chg_usb_pd_mecc_1_1.c"
    help
        Include chg_usb_pd_mecc_1_1.c into the binary and test its functions.

source "Kconfig.zephyr"
