/* Copyright 2024 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include "../native_sim.overlay"
#include "../../../../program/rex/kanix/cbi.dtsi"
#include <cros/vivaldi_kbd_default.dtsi>

/ {
	aliases {
		gpio-wp = &gpio_ec_wp_l;
	};

	named-gpios {
		gpio_ec_wp_l: ec_wp_l {
			gpios = <&gpio1 13 GPIO_OUTPUT>;
		};
	};
};

&vivaldi_kbd {
	status = "okay";

	kbd_config_1: kbd-config-1 {
		vivaldi-codes = <0 0 0 0 0 0 0 0 0 0>;
		capabilities = <0>;
	};
};