# Copyright 2021 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

menuconfig CHRE
	bool "Context Hub Runtime Environment"
	select CPLUSPLUS

if CHRE

config CHRE_MESSAGE_TO_HOST_MAX_SIZE
	int "Maximum message size to send to the host (bytes)"
	default 4000 if SOC_POSIX
	default 128
	help
	  Defines the maximum message size that can be sent to the host.

choice CHRE_MINIMUM_LOG_LEVEL
	prompt "Select the default minimum log level"
	default CHRE_MINIMUM_LOG_LEVEL_WARN
	help
	  The lowers log level that should print. Any logs with higher levels
	  than this one will be removed at compile time.

config CHRE_MINIMUM_LOG_LEVEL_MUTE
	bool "Mute all CHRE logging"
	help
	  When selected, all CHRE logs (ERROR, WARNING, INFO, DEBUG, and
	  VERBOSE) will be ignored.

config CHRE_MINIMUM_LOG_LEVEL_ERROR
	bool "Log CHRE errors"
	help
	  When selected, CHRE logs at the ERROR level will be seen in the
	  console.

config CHRE_MINIMUM_LOG_LEVEL_WARN
	bool "Log CHRE warnings and errors"
	help
	  When selected, CHRE logs at the ERROR and WARNING levels will be seen
	  in the console.

config CHRE_MINIMUM_LOG_LEVEL_INFO
	bool "Log CHRE info, warnings, and errors"
	help
	  When selected, CHRE logs at the ERROR, WARNING, and INFO levels will
	  be seen in the console.

config CHRE_MINIMUM_LOG_LEVEL_DEBUG
	bool "Log CHRE debug, info, warnings, and errors"
	help
	  When selected, CHRE logs at the ERROR, WARNING, INFO, and DEBUG levels
	  will be seen in the console.

config CHRE_MINIMUM_LOG_LEVEL_VERBOSE
	bool "Enable all CHRE logging"
	help
	  When selected, CHRE logs at the ERROR, WARNING, INFO, DEBUG, and
	  VERBOSE levels will be seen in the console.

endchoice # CHRE_MINIMUM_LOG_LEVEL

config CHRE_ASSERTIONS
	bool "Enable CHRE assertions"
	default false
	help
	  When enabled, CHRE will include various assertions which will trigger
	  calls to chreAbort if resolve to false.

endif # CHRE