/ {
	hibernate_vci_pins {
		compatible = "cros-ec,hibernate-vci-pins";
		#address-cells = <1>;
		#size-cells = <0>;

		vci_input0: vci_input_0@0 {
			reg = <0>;
			vci-polarity = "Active_Low";
			vci-latch-enable;
			status = "okay";
		};
		vci_input1: vci_input_1@1 {
			reg = <1>;
			vci-polarity = "Active_Low";
			status = "okay";
		};
		vci_input2: vci_input_2@2 {
			reg = <2>;
			vci-polarity = "Active_High";
			status = "okay";
		};
	};
};
