/* Copyright 2023 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* rex-ish project DTSI includes */
#include "gpio.dtsi"
#include "i2c.dtsi"
#include "interrupts.dtsi"
#include "ish.dtsi"
#include <program/rex/motionsense.dtsi>

&lid_accel {
	active-mask = "SENSOR_ACTIVE_S0";
	configs {
		/delete-node/ ec-s3;
	};
};

&base_accel {
	active-mask = "SENSOR_ACTIVE_S0";
	configs {
		/delete-node/ ec-s3;
	};
};

&base_gyro {
	active-mask = "SENSOR_ACTIVE_S0";
};

&als_clear {
	active-mask = "SENSOR_ACTIVE_S0";
};

&als_rgb {
	active-mask = "SENSOR_ACTIVE_S0";
};
