/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* ocelot program common DTS includes */

#include <cros/integrated_fwid.dtsi>
#include <cros/cbi_flash.dtsi>

/* ocelotrvp-npcx project DTS includes */
#include "generated.dtsi"
#include "../rvp_usba.dtsi"

/*
 * Map I2C buses to common names
 */

i2c_port_pd1: &i2c0_0 {
};

i2c_port_pd2: &i2c1_0 {
};

i2c_port_charger: &i2c2_0 {
};

i2c_port_ish: &i2c5_0 {
};

/*
 * Map GPIOs used for interrupts to common names
 */

gpio_acok: &gpio_acok_od {};
gpio_dc_jack_present: &gpio_adp_det {};
gpio_lid: &gpio_lid_open {};
gpio_pwrbtn: &gpio_mech_pwr_btn_odl {};
gpio_voldn: &gpio_ec_voldn_btn_odl {};
gpio_volup: &gpio_ec_volup_btn_odl {};
all_sys_pwrgd: &gpio_all_sys_pwrgd {};
gpio_fan_control: &gpio_en_pp5000_fan {};
pwm_fan: &pwm0 {};
tach_fan: &tach1 {};
gpio_ec_pch_wake_odl: &gpio_ec_soc_wake_ls_odl {};
cse_early_rec_sw: &gpio_ec_soc_rec_switch_odl {};

#include "../rvp_battery.dtsi"
#include "../rvp_fan.dtsi"
#include "../rvp_i2c.dtsi"
#include "../rvp_interrupts.dtsi"
#include "../rvp_usbc.dtsi"
#include "../rvp_keyboard.dtsi"

/* Power Signals */
#define PWR_EN_PP3300_S5 &gpio4 1
#define PWR_EN_PP5000_S5 &gpio7 6
#define PWR_RSMRST_PWRGD &gpio7 2
#define PWR_EC_PCH_RSMRST &gpio9 5
#define PWR_SLP_S0 &gpiob 0
#define PWR_PCH_PWROK &gpio6 1
#define PWR_ALL_SYS_PWRGD &gpio6 3
 
#include "power_signals.dtsi"

/* Required for flashing */
&cbi_flash {
	/*
	 * CBI section size is 0x1000 bytes, the CBI portion lies at the end of
	 * EC_RO section. EC_RO section ends at 0x50000 byte which is the offset
	 */
	offset = <0x50000>;
	size = <0x1000>;
};

/* AP interface */
&espi0 {
	status = "okay";
	pinctrl-0 = <&espi_lpc_gp46_47_51_52_53_54_55_57>;
	pinctrl-names = "default";
};

/* ocelotrvp-npcx overrides follow... */
/ {
	aliases {
		gpio-wp = &gpio_wp_odl;
	};

	named-gpios {
		/* unimplemented GPIOs */
		entering-rw {
			enum-name = "GPIO_ENTERING_RW";
		};
		
 	/* STD_ADPT_CNTRL_GPIO */
	gpio_adp_en_q: adp_en_q {
		/* Keep low to prioritize AC brick power source selection */
		gpios = <&gpio6 6 (GPIO_OUTPUT_LOW)>;
		};
	};

	chosen {
		cros-ec,keyboard = &kbd;
	};
	/* Hibernate wake pins */
	hibernate-wake-pins {
		compatible = "cros-ec,hibernate-wake-pins";
			wakeup-irqs = <
				&int_ac_present
				&int_power_button
			>;
	};
};

&sha0 {
	status = "okay";
};

&pdc_c0 {
	irq-gpios = <&gpiof 0 GPIO_ACTIVE_LOW>;
};

&pdc_c1 {
	irq-gpios = <&gpiof 0 GPIO_ACTIVE_LOW>;
};

/* Disable nodes for features not yet enabled. */
/delete-node/ &{/named-adc-channels};
