/*
 * Copyright (c) 2022 ITE Corporation. All Rights Reserved.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <dt-bindings/pinctrl/it8xxx2-pinctrl.h>

&pinctrl {
	/* ADC alternate function */
	pinctrl_adc0: adc0 {
		pinmux = <IT8XXX2_PINMUX('I', 0, IT8XXX2_PINMUX_FUNC_1)>;
	};
	pinctrl_adc1: adc1 {
		pinmux = <IT8XXX2_PINMUX('I', 1, IT8XXX2_PINMUX_FUNC_1)>;
	};
	pinctrl_adc2: adc2 {
		pinmux = <IT8XXX2_PINMUX('I', 2, IT8XXX2_PINMUX_FUNC_1)>;
	};
	pinctrl_adc3: adc3 {
		pinmux = <IT8XXX2_PINMUX('I', 3, IT8XXX2_PINMUX_FUNC_1)>;
	};
	pinctrl_adc4: adc4 {
		pinmux = <IT8XXX2_PINMUX('I', 4, IT8XXX2_PINMUX_FUNC_1)>;
	};
	pinctrl_adc5: adc5 {
		pinmux = <IT8XXX2_PINMUX('I', 5, IT8XXX2_PINMUX_FUNC_1)>;
	};
	pinctrl_adc6: adc6 {
		pinmux = <IT8XXX2_PINMUX('I', 6, IT8XXX2_PINMUX_FUNC_1)>;
	};
	pinctrl_adc7: adc7 {
		pinmux = <IT8XXX2_PINMUX('I', 7, IT8XXX2_PINMUX_FUNC_1)>;
	};
	pinctrl_adc13: adc13 {
		pinmux = <IT8XXX2_PINMUX('L', 0, IT8XXX2_PINMUX_FUNC_1)>;
	};
	pinctrl_adc14: adc14 {
		pinmux = <IT8XXX2_PINMUX('L', 1, IT8XXX2_PINMUX_FUNC_1)>;
	};
	pinctrl_adc15: adc15 {
		pinmux = <IT8XXX2_PINMUX('L', 2, IT8XXX2_PINMUX_FUNC_1)>;
	};
	pinctrl_adc16: adc16 {
		pinmux = <IT8XXX2_PINMUX('L', 3, IT8XXX2_PINMUX_FUNC_1)>;
	};

	/* I2C alternate function */
	pinctrl_i2c_clk0: i2c_clk0 {
		pinmux = <IT8XXX2_PINMUX('B', 3, IT8XXX2_PINMUX_FUNC_1)>;
	};
	pinctrl_i2c_data0: i2c_data0 {
		pinmux = <IT8XXX2_PINMUX('B', 4, IT8XXX2_PINMUX_FUNC_1)>;
	};
	pinctrl_i2c_clk1: i2c_clk1 {
		pinmux = <IT8XXX2_PINMUX('C', 1, IT8XXX2_PINMUX_FUNC_1)>;
	};
	pinctrl_i2c_data1: i2c_data1 {
		pinmux = <IT8XXX2_PINMUX('C', 2, IT8XXX2_PINMUX_FUNC_1)>;
	};
	pinctrl_i2c_clk2: i2c_clk2 {
		pinmux = <IT8XXX2_PINMUX('F', 6, IT8XXX2_PINMUX_FUNC_1)>;
	};
	pinctrl_i2c_data2: i2c_data2 {
		pinmux = <IT8XXX2_PINMUX('F', 7, IT8XXX2_PINMUX_FUNC_1)>;
	};
	pinctrl_i2c_clk3_gph1: i2c_clk3_gph1 {
		pinmux = <IT8XXX2_PINMUX('H', 1, IT8XXX2_PINMUX_FUNC_3)>;
	};
	pinctrl_i2c_data3_gph2: i2c_data3_gph2 {
		pinmux = <IT8XXX2_PINMUX('H', 2, IT8XXX2_PINMUX_FUNC_3)>;
	};
	pinctrl_i2c_clk3_gpf2: i2c_clk3_gpf2 {
		pinmux = <IT8XXX2_PINMUX('F', 2, IT8XXX2_PINMUX_FUNC_4)>;
	};
	pinctrl_i2c_data3_gpf3: i2c_data3_gpf3 {
		pinmux = <IT8XXX2_PINMUX('F', 3, IT8XXX2_PINMUX_FUNC_4)>;
	};
	pinctrl_i2c_clk4: i2c_clk4 {
		pinmux = <IT8XXX2_PINMUX('E', 0, IT8XXX2_PINMUX_FUNC_3)>;
	};
	pinctrl_i2c_data4: i2c_data4 {
		pinmux = <IT8XXX2_PINMUX('E', 7, IT8XXX2_PINMUX_FUNC_3)>;
	};
	pinctrl_i2c_clk5: i2c_clk5 {
		pinmux = <IT8XXX2_PINMUX('A', 4, IT8XXX2_PINMUX_FUNC_3)>;
	};
	pinctrl_i2c_data5: i2c_data5 {
		pinmux = <IT8XXX2_PINMUX('A', 5, IT8XXX2_PINMUX_FUNC_3)>;
	};

	/* UART alternate function */
	pinctrl_uart1_rx: uart1_rx {
		pinmux = <IT8XXX2_PINMUX('B', 0, IT8XXX2_PINMUX_FUNC_3)>;
	};
	pinctrl_uart1_tx: uart1_tx {
		pinmux = <IT8XXX2_PINMUX('B', 1, IT8XXX2_PINMUX_FUNC_3)>;
	};
	pinctrl_uart2_rx: uart2_rx {
		pinmux = <IT8XXX2_PINMUX('H', 1, IT8XXX2_PINMUX_FUNC_4)>;
	};
	pinctrl_uart2_tx: uart2_tx {
		pinmux = <IT8XXX2_PINMUX('H', 2, IT8XXX2_PINMUX_FUNC_4)>;
	};

};
