/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* ocelot program common DTS includes */
#include <cros/integrated_fwid.dtsi>


/* ocelot_rtk project DTS includes */
#include "gpio.dtsi"
#include "power_signals.dtsi"
#include "i2c.dtsi"
#include "adc.dtsi"
#include "battery.dtsi"
#include "led_pins.dtsi"
#include "led_policy.dtsi"


/*
 * Map GPIOs used to common names
 */
gpio_fan_control: &gpio_ec_fan_en {};
gpio_all_sys_pwr_good: &gpio_all_sys_pwrgd {};

/* Map tachometers to common names */
tach_fan0: &tach0 {};


#include "../rvp_keyboard.dtsi"
#include "../rvp_fans.dtsi"

/* ocelot_rtk overrides follow... */
/ {
	chosen {
		cros-ec,keyboard = &kbd;
	};
};

&espi0 {
	status = "okay";
	pinctrl-0 = < &espi_alert_gpio003 &espi_cs_gpio004
				&espi_io3_gpio005 &espi_io2_gpio006
				&espi_io1_gpio007 &espi_io0_gpio008
				&espi_clk_gpio009 &espi_reset_gpio020>;
	pinctrl-names = "default";
};

&kbd {
	status = "okay";
	pinctrl-0 = <
		&ksi0_gpio064
		&ksi1_gpio065
		&ksi2_gpio066
		&ksi3_gpio067
		&ksi4_gpio068
		&ksi5_gpio069
		&ksi6_gpio070
		&ksi7_gpio071
		&kso0_gpio041
		&kso1_gpio042
		&kso3_gpio044
		&kso4_gpio045
		&kso5_gpio046
		&kso6_gpio047
		&kso7_gpio048
		&kso8_gpio049
		&kso9_gpio050
		&kso10_gpio051
		&kso11_gpio055
		&kso12_gpio056
		&kso13_gpio057
		&kso14_gpio058
		&kso15_gpio059
		&kso16_gpio060
		&kso17_gpio061
	>;
	pinctrl-names = "default";

	actual-key-mask = <
		0x08  /* C0 */
		0xff  /* C1 */
		0xff  /* C2 */
		0xff  /* C3 */
		0xff  /* C4 */
		0xf7  /* C5 */
		0xff  /* C6 */
		0xa5  /* C7 */
		0xff  /* C8 */
		0xff  /* C9 */
		0x01  /* C10 */
		0xfe  /* C11 */
		0xfe  /* C12 */
		0x40  /* C13 */
		0x0a  /* C14 */
		0x40  /* C15 */
		0x01  /* C16 */
		0xd4  /* C17 */
	>;

	kso-gpio {
		compatible = "cros-ec,col-gpio";
		col-num = <2>;
		col-gpios = <&gpioc 11 GPIO_ACTIVE_HIGH>;
	};
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_gpio023>;
	pinctrl-names = "default";
};

&kblight {
	pwms = <&pwm1 1 PWM_HZ(324) PWM_POLARITY_NORMAL>;
};

/* fan tachometer sensor */
&tach0 {
	status = "okay";
	pinctrl-0 = <&tacho0_gpio052>;
	pinctrl-names = "default";
	pulses-per-round = <2>;
};

&pwm2 {
	status = "okay";
	pinctrl-0 = <&pwm2_gpio025>;
	pinctrl-names = "default";
};

&fan0 {
	pwms = <&pwm2 0 PWM_KHZ(2) PWM_POLARITY_NORMAL>;
	rpm-min = <2600>;
	rpm-start = <2000>;
	rpm-max = <5000>;
	rpm-deviation = <2>;
};
