/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* ocelot program common DTS includes */

#include <cros/integrated_fwid.dtsi>

/* ocelotrvp-rtk program common DTS includes */

#include "gpio.dtsi"
#include "i2c.dtsi"
#include "power_signals.dtsi"
#include "../rvp_keyboard.dtsi"
#include "../rvp_battery.dtsi"
#include "../rvp_interrupts.dtsi"
#include "../rvp_ioex_gpio.dtsi"
#include "../rvp_usbc.dtsi"

/ {
	chosen {
		cros-ec,keyboard = &kbd;
	};
};

&espi0 {
	status = "okay";
};

&sha0 {
	status = "okay";
};

&usbc_port0 {
	pdc = <&pdc_rtk_c0>;
};
&usbc_port1 {
	pdc = <&pdc_rtk_c1>;
};

/* Enabe nodes once b/458003667 is fixed. */
/delete-node/ &pdc_ti_c0;
/delete-node/ &pdc_ti_c1;
/delete-node/ &kblight;

&pdc_rtk_c0 {
	irq-gpios = <&gpiob 11 GPIO_ACTIVE_LOW>;
	/* Add property once b/458003667 is fixed. */
	/delete-property/ zephyr,deferred-init;
};
&pdc_rtk_c1 {
	irq-gpios = <&gpiob 11 GPIO_ACTIVE_LOW>;
	/* Add property once b/458003667 is fixed. */
	/delete-property/ zephyr,deferred-init;
};

&ulpm {
	status = "okay";
	power_btn: wkup-pin@3 {
		wkup-pin-mode = "vin";
		wkup-pin-pol = "falling";
	};
	bc_acok: wkup-pin@0 {
		wkup-pin-mode = "vin";
	};
};

&kbd {
	status = "okay";
	pinctrl-0 = <
		&ksi0_gpio064
		&ksi1_gpio065
		&ksi2_gpio066
		&ksi3_gpio067
		&ksi4_gpio068
		&ksi5_gpio069
		&ksi6_gpio070
		&ksi7_gpio071
		&kso0_gpio041
		&kso1_gpio042
		&kso2_gpio043
		&kso3_gpio044
		&kso4_gpio045
		&kso5_gpio046
		&kso6_gpio047
		&kso7_gpio048
		&kso8_gpio049
		&kso9_gpio050
		&kso10_gpio051
		&kso11_gpio055
		&kso12_gpio056
		&kso13_gpio057
		&kso14_gpio058
		&kso15_gpio059
		&kso16_gpio060
		&kso17_gpio061
	>;
	row-size = <8>;
	col-size = <18>;
	settle-time-us = <80>;
	pinctrl-1 = <
		&kso0_sleep_gpio041
		&kso1_sleep_gpio042
		&kso2_sleep_gpio043
		&kso3_sleep_gpio044
		&kso4_sleep_gpio045
		&kso5_sleep_gpio046
		&kso6_sleep_gpio047
		&kso7_sleep_gpio048
		&kso8_sleep_gpio049
		&kso9_sleep_gpio050
		&kso10_sleep_gpio051
		&kso11_sleep_gpio055
		&kso12_sleep_gpio056
		&kso13_sleep_gpio057
		&kso14_sleep_gpio058
		&kso15_sleep_gpio059
		&ksi0_gpio064
		&ksi1_gpio065
		&ksi2_gpio066
		&ksi3_gpio067
		&ksi4_gpio068
		&ksi5_gpio069
		&ksi6_gpio070
		&ksi7_gpio071
	>;
	pinctrl-names = "default", "sleep";
};
