# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config BOARD_IT51XXX
	# Allow generating initial 0 line coverage.
	select HAS_COVERAGE_SUPPORT
	select SOC_IT51526AW if BOARD_IT51XXX_IT51526AW
	select SOC_IT51526BW if BOARD_IT51XXX_IT51526BW
	select SOC_IT51526BW if BOARD_IT51XXX_IT51526BW_512
