&ulpm {
    status = "okay";

    wkup-pin@0 {
			reg = <0x0>;
			/* wkup-pin-pol; */
			wkup-pin-pol-auto;
			wkup-pin-mode = "gpio";
		};

		wkup-pin@1 {
			reg = <0x1>;
			/* wkup-pin-pol; */
			wkup-pin-pol-auto;
			wkup-pin-mode = "gpio";
		};

		wkup-pin@2 {
			reg = <0x2>;
			/* wkup-pin-pol; */
			wkup-pin-pol-auto;
			wkup-pin-mode = "gpio";
		};

		wkup-pin@3 {
			reg = <0x3>;
			/* wkup-pin-pol; */
			wkup-pin-pol-auto;
			wkup-pin-mode = "vin";
		};

		wkup-pin@5 {
			reg = <0x5>;
			/* wkup-pin-pol; */
			wkup-pin-pol-auto;
			wkup-pin-mode = "gpio";
		};
};
