# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config NPCX_HEADER
	default y

choice NPCX_HEADER_SPI_MAX_CLOCK_CHOICE
	default NPCX_HEADER_SPI_MAX_CLOCK_50
endchoice

choice NPCX_HEADER_SPI_READ_MODE_CHOICE
	default NPCX_HEADER_SPI_READ_MODE_DUAL
endchoice

choice NPCX_HEADER_CORE_CLOCK_SPI_CLOCK_RATIO_CHOICE
	default NPCX_HEADER_CORE_CLOCK_SPI_CLOCK_RATIO_2
endchoice
