/* Copyright 2023 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include "clock.dtsi"
#include "flash.dtsi"
#include "gpio.dtsi"
#include "uart.dtsi"
#include "usb.dtsi"
