/* Copyright 2023 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* Ovis program common DTSI includes */
#include "../fan.dtsi"
#include "../generated.dtsi"
#include "../interrupts.dtsi"
#include "../temp_sensors.dtsi"
#include "../usbc.dtsi"

/* Deku project DTS includes */
#include "led_pins.dtsi"
#include "generated_deku.dtsi"
#include "deku.dtsi"
#include "power_signals.dtsi"
#include "usbc_deku.dtsi"
