# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config BOARD_ID_INTEL_RVP
	bool "Intel RVP board ID read"
	depends on DT_HAS_INTEL_RVP_BOARD_ID_ENABLED
	default y
	help
	  Enable support for reading board id for INTEL RVP.
