/* Copyright 2023 The ChromiumOS Authors.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include <cros/nuvoton/npcx9_cros.dtsi>
#include <nuvoton/npcx/npcx9/npcx9-pinctrl.dtsi>

/* DRBG: Deterministic Random Bit Generator */
&drbg0 {
	status = "okay";
};

/* Update program memory size */
&flash0 {
    reg = <0x10058000 DT_SIZE_K(336)>;
};

/* Update data memory size */
&sram0 {
    reg = <0x200AC000 DT_SIZE_K(172)>;
};

/* UART1: Servo UART (console) */
&uart1 {
      /* Use UART1_SL2 ie. PIN64.65 */
       pinctrl-0 = <&uart1_2_sin_gp64
                    &uart1_2_sout_gp65>;
       pinctrl-names = "default";
       current-speed = <115200>;
};

/* UART2: AP UART (Host Commands and MKBP) */
&uart2 {
       pinctrl-0 = <&uart2_sin_gp75
                        &uart2_sout_gp86>;
       pinctrl-names = "default";
       current-speed = <115200>;
};