/* Copyright 2021 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

menu "AP Power Management"

config X86_NON_DSX_POWER_SEQ
	bool "x86 Non Deep Sx power sequencing"
	default n
	help
	  This option enables Non Deep Sleep Well power sequencing for
	  Intel x86 chips.

module = AP_PWRSEQ
module-str = ap_pwrseq
source "subsys/logging/Kconfig.template.log_config"
endmenu
