#include <dt-bindings/battery.h>

/ {
	led-colors {
		compatible = "cros-ec,led-policy";

		power-state-discharge {

			/* Turn off both LEDs LED */
			color-0 {
				led-color = <&color_off_left>;
			};
			color-1 {
				led-color = <&color_off_right>;
			};
		};

		power-state-discharge-low {

			/* Blink both LEDs amber at 0.5 Hz */
			color-0 {
				led-color = <&color_amber_left>;
				period-ms = <1000>;
			};
			color-1 {
				led-color = <&color_off_left>;
				period-ms = <1000>;
			};
		};

		power-state-idle {
			charge-state = "PWR_STATE_IDLE";

			/* Blink both LEDs amber at 0.5 Hz */
			color-0 {
				led-color = <&color_amber_left>;
				period-ms = <1000>;
			};
			color-1 {
				led-color = <&color_white_left;
				period-ms = <1000>;
			};
		};

		power-state-forced-idle {
			charge-state = "PWR_STATE_FORCED_IDLE";

			/* Blink both LEDs amber at 2 Hz */
			color-0 {
				led-color = <&color_amber_left>;
				period-ms = <250>;
			};
			color-1 {
				led-color = <&color_white_left>;
				period-ms = <250>;
			};
		};

		power-state-error {
			charge-state = "PWR_STATE_ERROR";

			/* Blink both LEDs amber at 2 Hz */
			color-0 {
				led-color = <&color_amber_left>;
				period-ms = <250>;
			};
			color-1 {
				led-color = <&color_off_left>;
				period-ms = <250>;
			};
		};

	};
};
